#first-item h2{ height:50px; line-height:50px; margin-top:10%; font-size:48px;}
.start-test-btn{ display:block; width:203px; height:64px; line-height:64px; padding:0; text-align:center; font-size:30px; font-weight:bold; border:none; box-shadow:-1px 3px 3px #2c3445;box-shadow:-1px 3px 3px rgba(44,52,69,0.5);}
.start-test-btn:hover{ box-shadow:-2px 3px 3px #2c3445; box-shadow:-2px 3px 3px rgba(44,52,69,0.5);}
.category li .tit span{ display:block; padding-left:45px; background:url(../images/new/test-icon.png) no-repeat 10px center;}
.category li.first .tit span{padding-left:80px; background:url(../images/new/test-icon3.png) no-repeat 10px center;}
.test-icon{ display:inline-block; width:18px; height:18px; margin-right:5px; background:url(../images/new/test-icon2.png) no-repeat; vertical-align:-5px;}
/* 做题 */
.test-wrap{}
.test-box{ width:100%; min-height:512px; margin-top:20px; position:relative;}
.test-box-bar{ height:30px; line-height:30px; overflow:hidden; background:#465574; border:1px solid #fff; position:relative;}
.test-page{ position:absolute; top:0; right:15px; font-size:24px; font-weight:bold; color:#fff;}
.test-con{ width:100%; min-height:480px; background:#fff; overflow:hidden; font-family:Microsoft Yahei;}
.test-item{ padding:25px; font-size:18px; color:#666; font-family:arial,Microsoft Yahei;}
.test-hd{ line-height:30px; margin-bottom:25px;}
.test-hd .kind{ color:#ff7e00;}
.test-option{ border:1px solid #ddd; border-bottom:none;}
.test-option li{ line-height:26px; overflow:hidden; padding:10px; border-bottom:1px solid #ddd; cursor:pointer; position:relative; _zoom:1;}
.test-option li.hover{ color:#0088cc; border-bottom:1px solid #0088cc; outline:2px solid #0088cc; outline-offset:-1px; position:relative;}
.test-option li.checked{color:#0088cc; border-bottom:1px solid #0088cc; outline:2px solid #0088cc; outline-offset:-1px; position:relative;}
.test-option li input{ position:absolute; top:17px; left:10px; z-index:1;}
.test-option li .letter{ position:absolute; top:10px; left:35px; z-index:1;}
.test-option li .con{ margin-left:54px; /*_margin-top:-46px;*/}
.test-item-bar{ margin-top:38px;}
.test-item-bar a{ height:41px; line-height:40px; padding:0 20px; margin-right:10px; font-size:18px; font-weight:bold;}
/* 做题结束 */
.test-end{ width:100%; overflow:hidden; text-align:center; background:#fff; font-family:Microsoft Yahei; position:absolute; top:32px; bottom:0; z-index:3;}
.test-end .end-txt{ margin-top:105px; font-size:30px;}
.test-end .testend-icon{ display:inline-block; width:58px; height:58px; margin-right:15px; background:url(../images/new/endtest-icon.png) no-repeat; vertical-align:middle;}
.testend-result{ width:465px; height:60px; padding:10px 0; margin:20px auto 0; border:1px solid #ececec;}
.testend-result li{ width:154px; height:60px; overflow:hidden; float:left; text-align:center; font-size:14px; border-right:1px solid #ececec;}
.testend-result li.last{ border:none;}
.testend-result li h5{ font-weight:500;}
.testend-result li p{}
.testend-result li p em{ margin-right:5px; font-size:30px;}
.test-end-bar{ margin-top:30px;}
.test-end-bar a{ height:65px; line-height:64px; margin:0 15px; font-size:30px;}
.test-end-bar .btn-blue{ padding:0 40px;}