body{ background:#f3f3f3;}
/* rmain */
.help-main{ width:900px; min-height:440px; _height:440px; padding: 25px 40px 40px; margin:30px auto 0; background:#fff; border-radius:6px;}
.htitle{ overflow:hidden; padding-bottom:10px; margin-bottom:30px; border-bottom:1px dotted #a5a5a5; _zoom:1;}
.htitle h1{ float:left; margin-right:10px; font-size:26px; font-family:Microsoft Yahei;}
.htitle .sub-tt{ margin-top:16px; font-size:14px; font-family:Microsoft Yahei;}
.help-con{ width:900px; overflow:hidden;}
.side-con{ float:left; width:170px; display:inline;}
.main-con{ float:right; width:670px; padding:0 10px; display:inline;}

.help-list{ overflow:hidden; _zoom:1;}
.help-list-item{ float:left; display:inline; width:143px; height:260px; padding:30px 0 0 25px; margin-right:12px; background:#fafafa; border:1px solid #e6e6e6; border-radius:3px; box-shadow:0 2px 2px #f2f2f2;}
.help-new{ background:url(../images/help/help1.png) no-repeat bottom right #fafafa;}
.help-pay{ background:url(../images/help/help2.png) no-repeat bottom right #fafafa;}
.help-sales{ background:url(../images/help/help3.png) no-repeat bottom right #fafafa;}
.help-clause{ background:url(../images/help/help4.png) no-repeat bottom right #fafafa;}
.help-about{ margin-right:0; background:url(../images/help/help5.png) no-repeat bottom right #fafafa;}
.help-list-item h2{ margin-bottom:10px; font-size:18px; color:#ff7e00; font-family:Microsoft Yahei;}
.help-list-item ul{}
.help-list-item ul li{ line-height:22px; padding-left:10px; margin-bottom:5px; background:url(../images/help/square-icon.png) no-repeat left; font-size:14px;}

.help-nav{ padding-left:20px;}
.help-nav h3{ padding-left:10px; background:url(../images/help/help-nav-tt.png) no-repeat left center; font-size:18px; font-family:Microsoft Yahei; color:#ff7e00;}
.help-nav ul{ margin-bottom:20px;}
.help-nav ul li{ line-height:22px; margin-top:10px; font-size:14px;}
.help-nav ul li a{}
.help-nav ul li a:hover{}
.help-nav ul li.current a{ padding-right:15px; background:url(../images/help/help-nav-li.png) no-repeat right; font-weight:bold;}

.mtitle{ padding:0 10px 5px; margin-bottom:25px; overflow:hidden; font-size:20px; color:#333; font-family:Microsoft Yahei; border-bottom:2px solid #a5a5a5;}
.help-item{ padding:0 0 10px; margin:0 10px 10px; border-bottom:1px dotted #e6e6e6;}
.help-item .q-box{ font-size:14px; color:#0088cc; font-weight:500;}
.help-item .q-box span{ cursor:pointer;}
.a-box{ padding:10px; margin-top:20px; background:#f7f7f7; border:1px solid #d5d5d5; border-radius:3px; position:relative;}
.t-box{ padding:10px; margin-top:20px; background:#f7f7f7; border:1px solid #d5d5d5; border-radius:3px; position:relative;}
.a-box-arrow{ width:19px; height:11px; background:url(../images/help/a-box-arrow.png) no-repeat; position:absolute; left:40px; top:-11px;}
.a-box-bar{ margin-bottom:5px; text-align:right;}
.a-box-bar .a-up{ padding-left:10px; background:url(../images/help/up-icon.png) no-repeat left center; color:#a5a5a5; cursor:pointer;}
.help-item p{ line-height:22px; margin-bottom:15px;}
.help-item li{ line-height:22px; margin-top:20px;}
.help-bank-table{ width:100%; border-collapse:collapse; margin:10px 0 0 0; text-align:center;}
.help-bank-table th{ font-weight:500; background:#ededed; padding:10px 0;}
.help-bank-table .bank-phone{ background-image:none;}
.help-bank-table .tr-odd td{ background:#ededed;}
.help-bank-table .bank-name{ width:145px;}
.help-bank-table .bank-card{ width:85px;}
.help-bank-table .bank-phone{ width:70px;}
.help-bank-table span{ display:block; line-height:20px;}
.help-item .help-bank-table p{ width:345px; margin:0; padding:0 10px; font-size:12px; text-align:left;}
.help-bank-table .tr-odd .bank-phone{ background-image:none;}
.help-bank-table td{ padding:10px 0; vertical-align:middle;}

.help-item .down-ul{ width:580px; overflow:hidden; text-align:center; padding-left:20px;}
.help-item .down-ul li{ width:240px; float:left; text-align:center; padding:0; display:inline; margin:10px 0 0 50px;}
.help-item .down-ul li span{ display:block; float:left; margin-top:8px; font-size:12px; font-weight:500;}
.help-item .down-ul li span a{ color:#c31e24;}

.help-item .help-table1{ margin:10px auto 0; text-align:center; border-collapse:collapse;}
.help-item .help-table1 caption{ height:30px; line-height:30px; font-weight:bold;}
.help-item .help-table1 th{ background:#f6f5f5; color:#ff6505; padding:5px 10px; border:1px solid #dfdfdf;}
.help-item .help-table1 td{ padding:5px 10px; border:1px solid #dfdfdf;}

.help-bank-table2{ width:655px; border-collapse:collapse; margin:10px 8px 0; border:1px solid #bab9b9;}
.help-bank-table2 th{ padding:10px 0; background:#ededed;}
.help-bank-table2 td{ padding:10px 3px; vertical-align:middle; text-align:left; border:1px solid #bab9b9;}
.help-item .brt{ width:650px; padding:10px 0 0 0; margin:20px 10px 0; border-top:1px dotted #333;}
/* m_con_box*/
.m_con_box{ width:900px; margin:0; overflow:hidden; border:1px solid #dfdfdf; border-top:3px solid #ff6505;}
.help_tab{ width:154px; float:left; overflow:hidden;}
.help_tab li{ height:34px; line-height:34px; padding:0 0 0 36px; background:#f5f5f5 url(../images/help_tab_licurrent1.png) no-repeat 20px; cursor:pointer; border-bottom:1px dashed #dfdfdf; border-right:1px solid #dfdfdf;}
.help_tab .current{ border-bottom:1px solid #dfdfdf; border-right:none; background:#fff url(../images/help_tab_licurrent2.png) no-repeat 20px;}
.help_tab .prevli{ border-bottom:1px solid #dfdfdf;}
.help_tab .current span{ text-decoration:none; color:#ff6505; font-weight:bold;}
.help_tab .hover{ background:#fff2e8 url(../images/help_tab_licurrent1.png) no-repeat 20px;}
.m_con{ width:705px; float:right; padding:0 20px; overflow:hidden; height:auto;}
.help_item_title{ height:40px; line-height:40px; padding-left:30px; background:url(../images/help_h1_jtbg.png) no-repeat left; border-bottom:1px solid #ffe5d5;}
.help_item_title h3{ font-size:14px; color:#ff6505; font-weight:bold;}
.help_item_big{ height:auto; overflow:hidden; padding:15px 0; border-bottom:1px dashed #dfdfdf;}
.help_item_big .hbg{ padding-left:15px; background:url(../images/help_item_hbg.png) no-repeat left;}
.help_item_big h4{ font-size:14px; font-weight:bold; overflow:hidden; line-height:28px;}
.help_item_big p{ padding-left:45px; line-height:28px;}
.help_item_big table{ margin:10px 0 0 45px; text-align:center; border-collapse:collapse;}
.help_item_big table th{ background:#f6f5f5; color:#ff6505; padding:5px 10px; border:1px solid #dfdfdf;}
.help_item_big table td{ padding:5px 10px; border:1px solid #dfdfdf; line-height:28px;}
.help_item_big table td p{ padding:0;}
.help_item_big table .even_bg{ background: #F9F9F9;}
.last{ border:none;}
.help_item_big ol li{ padding-left:50px; line-height:28px;}
.help_item_big ol li p{ padding-left:30px;}
.help_item_big a:link,.help_item_big a:visited{ color:#ff6505;}

#question_signexam .help_title{ height:52px; overflow:hidden; background:#f3f3f3 none;}
#question_signexam .help_title h2{ width:170px; height:52px; line-height:52px; font-weight:bold; font-size:18px; float:left; padding-left:80px; text-indent:-9999px; background:url(../images/help_title_h2_bg1.png) no-repeat 11px 16px;}

.help_back_box{ text-align:right; padding:20px 0;}
.help_back_box span{ font-size:14px; margin-right:20px; padding-left:20px;}
.help_back_box .buy{ background:url(../images/help_buyicon1.png) no-repeat left;}
.help_back_box .back{ background:url(../images/help_backicon.png) no-repeat left;}
.help_back_box .buy a:link,.help_back_box .buy a:visited{ color:#f96105;}

.anchor_tab li{ font-size:14px; font-weight:bold; margin-left:30px; list-style-type: disc; line-height:28px;}
.anchor_tab li a:link,.anchor_tab li a:visited{ color:#000; text-decoration:underline;}
.help_item_big em { color: #FF0000;}

