#first-item h2{ height:50px; line-height:50px; margin-top:10%; font-size:48px;}
.listen-btn{ display:block; width:203px; height:64px; line-height:64px; padding:0; text-align:center; font-size:30px; font-weight:bold; border:none; box-shadow:-1px 3px 3px #2c3445; box-shadow:-1px 3px 3px rgba(44,52,69,0.5);}
.listen-btn:hover{ box-shadow:-2px 3px 3px #2c3445; box-shadow:-2px 3px 3px rgba(44,52,69,0.5);}
/* 试听播放 */
.free-box{ width:980px; overflow:hidden; margin-top:20px;}
.video-box{ width:720px; height:513px; float:left; background:#000; position:relative;}
.player-box{ width:720px; height:513px; overflow:hidden;}
.video-tip{ height:30px; line-height:30px; padding:0 10px; background:#303030; font-size:14px; color:#fff; position:absolute; left:0; right:0; bottom:38px;}
.video-tip a{ color:#0088cc; text-decoration:underline;}
.video-tip .tip-close{ display:block; width:10px; height:10px; line-height:10px; color:#ccc; text-decoration:none; font-size:24px; position:absolute; top:10px; right:15px;}
.catalog-box{ width:260px; height:513px; float:right; background:#f5f7fa; font-family:Microsoft Yahei; position:relative;}
.catalog-line{ width:1px; background:#c5c5c5; position:absolute; top:0; bottom:0; left:18px;}
.catalog-list{}
.catalog-list .list{ height:473px; overflow-x:hidden; overflow-y:auto; position:relative;}
.catalog-list h3{ height:40px; line-height:40px; padding-left:12px; background:#0088cc; color:#fff; font-size:18px; position:relative;}
.catalog-list .list li{ height:35px; line-height:35px; padding:0 10px; position:relative;}
.catalog-list .list li .vico{ float:left; width:17px; height:35px; margin-right:10px; background:url(../images/uCenter/video-ico.png) no-repeat;}
.catalog-list .list li .vnot-ico{ background-position:-34px -350px;}
.catalog-list .list li .vhalf-ico{ background-position:-68px -350px;}
.catalog-list .list li .vend-ico{ background-position:-102px -350px;}
.catalog-list .list li .vlink{ float:left; width:190px; height:35px; overflow:hidden;}
.catalog-list .list li .vlink:hover{ text-decoration:none;}
.catalog-list .list li .new{ float:left; color:#ff7e00; position:absolute; top:0px; left:30px;}
.catalog-list .list li.look .vlink{ color:#0088cc;}
.catalog-list .list li.hover,.catalog-list .list li.current{ background:#0188cc; color:#fff;}
.catalog-list .list li.hover .vnot-ico,.catalog-list .list li.current .vnot-ico{ background-position:-51px -350px;}
.catalog-list .list li.hover .vhalf-ico,.catalog-list .list li.current .vhalf-ico{ background-position:-85px -350px;}
.catalog-list .list li.hover .vend-ico,.catalog-list .list li.current .vend-ico{ background-position:-119px -350px;}
.catalog-list .list li.hover .vlink,.catalog-list .list li.current .vlink{ color:#fff;}
/* 试听结束 */
.video-end{ width:100%; height:100%; position:absolute; top:0; bottom:0;}
.video-end .mask{ width:100%; height:100%; background:#000; opacity:0.6; -moz-opacity:0.6; filter:alpha(opacity=60); position:absolute; top:0; bottom:0;}
.video-end .con{ width:100%; height:100%; text-align:center; position:absolute; top:0; bottom:0; z-index:3;}
.video-end p{ margin-top:160px; font-family:Microsoft Yahei; font-size:30px; color:#fff;}
.video-end .bar{ margin-top:30px;}
.smile-icon{ display:inline-block; width:51px; height:51px; margin-right:20px; background:url(../images/new/smile-icon.png) no-repeat; vertical-align:middle;}
.data-btn{ display: inline-block; width:203px; height:64px; line-height:64px; padding:0; text-align:center; font-size:30px; border:none; box-shadow:-1px 3px 3px #2c3445;}
.data-btn:hover{ box-shadow:-2px 3px 3px #2c3445;}
/* flash */
#ccplayer{ display:block;}




