/* rmain */
.rmain{background:#fff; padding: 25px 40px 40px; margin:20px auto; width:900px;}
/*注册*/
.reg-con{overflow: hidden;}
.reg-con-left{ width:430px; border-right:1px solid #f2f2f2; float:left; display:inline; margin:0px 0 0 30px; font-family: Microsoft Yahei;}
.reg{ float:left; overflow:hidden; border:none; margin-top: 10px;}
.reg legend{ display:none; height:40px; text-indent:-9999px;}
.reg-item{ line-height:32px; clear:both; margin-top:32px; min-height:42px;}
.reg-item label{ display:block; line-height:42px; width:74px; float:left; text-align:right; margin:0 10px 5px 0px; font-size:16px;}
.txt-input{ float:left; width:270px; height:40px; line-height:40px; padding:0 10px;border:1px solid #e5e5e5;border-radius: 3px;color: #666;font-family: Microsoft Yahei;box-shadow: 1px 1px 1px 0px #f1f1f1 inset;font-size:16px;}
input[type="checkbox"],input[type="radio"] { padding:0; vertical-align: -2px; _vertical-align: -1px; margin-right:3px; background:none; border:0;}
.reg-item .w100{width:100px;}
.txt-inputHover{border-color:#ff7e00 #ff7e00 #ff7e00 #ff7e00; color: #666; box-shadow: 1px 1px 1px 0px #ffd3a9 inset;}
.reg-item label.valid,.reg-item label.error,.reg-item label.txt-ok{display: none; width:300px; text-align: left; margin:0 10px 0px 0px; line-height: 32px; font-size: 12px;}
label.valid{ float:left; color:#0088cc; height:32px; line-height:32px;}
.txt-prompt-fouce{ color:#389a0a;}
label.error{ float:left; color: #ff7e00;}
.reg-item label.txt-ok{padding: 5px 0px 0px 7px; float: left; width:20px;}
label.valid em,label.error em,.txt-ok em{ float: left; margin: 8px 3px 0 0; width:16px; height:16px; background:url(../images/ico_warn.png) no-repeat;}
label.valid em{ background-position: 0 -200px;}
label.error em{ background-position: 0 -50px;}
label.txt-ok em{ background-position: 0 0;}

.reg-ck-box{position: relative; height:60px;}
.reg-ck-box .error{position: absolute; left: 84px; top: 25px; color: #ff7e00; float: none;}
.reg-ck-box input.reg-ck{ vertical-align:-3px; margin:0 5px 0 84px; position:static;}
.reg-sub-btn{padding: 0px 0px 10px 84px;}
.reg-con-left .f-gray{margin-top:40px;}
.f-gray{color: #a5a5a5;}

.btn-small1{height:40px; width:158px; text-align:center; line-height:40px; display: inline-block; outline:none; border:1px solid; border-radius:3px; cursor:pointer;}
.btn-small2{height:40px; width:158px; text-align:center; line-height:40px; display: inline-block; outline:none; border:1px solid; border-radius:3px;}
.btn-big{height:42px; line-height:42px; font-size: 18px; font-family: Microsoft Yahei; font-weight:600; display: inline-block; padding:0 30px; outline:none; border:1px solid; border-radius:3px; cursor:pointer;}
.btn-big:hover{text-decoration:none;}
.btn-blue{ background-color:#05acec; border-color:#00a4e3; color:#fff; 
           background-image:-moz-linear-gradient(bottom , #15a7dd 0%, #1dbffd 100%);
		   background-image:-o-linear-gradient(bottom , #15a7dd 0%, #1dbffd 100%);
		   background-image:-webkit-linear-gradient(bottom , #15a7dd 0%, #1dbffd 100%);
		   background-image:-webkit-gradient(linear,left bottom,left top,color stop(0 #15a7dd),color stop(1 #1dbffd));
		   background-image:-ms-linear-gradient(bottom , #15a7dd 0%, #1dbffd 99%);
		   }
.btn-blue:hover{ background-color:#00b9ff; background-image:none; border-color:#00a4e8; color:#fff; text-decoration:none;}
.btn-gray{ background-color:#f5f5f5; border-color:#ddd; color:#666; }
.btn-gray:hover{text-decoration:none;}
.btn-gray2{ background-color:#f5f5f5; border-color:#ddd; color:#666; box-shadow:0 1px 2px #fff; 
           background-image:-moz-linear-gradient(bottom , #eee 0%, #fafafa 100%);
		   background-image:-o-linear-gradient(bottom , #eee 0%, #fafafa 100%);
		   background-image:-webkit-linear-gradient(bottom , #eee 0%, #fafafa 100%);
		   background-image:-webkit-gradient(linear,left bottom,left top,color stop(0 #eee),color stop(1 #fafafa));
		   background-image:-ms-linear-gradient(bottom , #eee 0%, #fafafa 99%);
		   box-shadow: 0px 1px 0px 0px #fff inset;
		   }
.btn-gray2:hover{ background-color:#f5f5f5; border-color:#999; color:#333; box-shadow:0 1px 2px #ddd; 
                 background-image:-moz-linear-gradient(bottom , #eee 0%, #fafafa 100%);
				 background-image:-o-linear-gradient(bottom , #eee 0%, #fafafa 100%);
				 background-image:-webkit-linear-gradient(bottom , #eee 0%, #fafafa 100%);
				 background-image:-webkit-gradient(linear,left bottom,left top,color stop(0 #eee),color stop(1 #fafafa));
				 background-image:-ms-linear-gradient(bottom , #eee 0%, #fafafa 99%);
				 box-shadow: 0px 1px 0px 0px #fff inset;
				 text-decoration:none;
				 }
.btn-orange{ background-color:#ff8e20; border-color:#ea7400; color:#fff;
           background-image:-moz-linear-gradient(bottom , #ff7f01 0%, #ffa043 100%);
		   background-image:-o-linear-gradient(bottom , #ff7f01 0%, #ffa043 100%);
		   background-image:-webkit-linear-gradient(bottom , #ff7f01 0%, #ffa043 100%);
		   background-image:-webkit-gradient(linear,left bottom,left top,color stop(0 #ff7f01),color stop(1 #ffa043));
		   background-image:-ms-linear-gradient(bottom , #ff7f01 0%, #ffa043 99%);
		   }
.btn-orange:hover{ background-color:#ff9833; background-image:none; border-color:#ea7400; color:#fff; text-decoration:none;}

.reg-con-right{ width:435px; float:right;}
.reg-txt{ height:70px; text-indent:-9999px; margin:170px auto 0; background:url(../images/reg-pic01.png) no-repeat center center;}
.regBtnBox{ height:32px; line-height:32px; margin-top:30px; text-align:center;}
.regBtnBox .right-regBtn,.qqBtnBox .right-qqregBtn{ width:113px; height:30px; line-height:30px; text-align:center; padding:0; margin-left:10px; color:#fff; font-weight:bold;}
.qqBtnBox{ height:32px; line-height:32px; margin-top:15px; text-align:center;}
.regBtnBox .right-regBtn em,.qqBtnBox .right-qqregBtn em{ display:inline-block; width:20px; height:20px; margin-right:7px; background:url(../images/index-icon.png) no-repeat; vertical-align:middle;}
.regBtnBox .right-regBtn em{ background-position:1px -342px;}
.qqBtnBox .right-qqregBtn em{ background-position:1px -377px;}
.qqBtnBox .qqimg-ico{ display:inline-block; width:17px; height:19px; vertical-align:middle; margin:0 3px; background:url(../images/index-icon.png) no-repeat 0 -412px; text-indent:-9999px;}
/*登录*/
.login-con{overflow: hidden;}
.login-con-left{ width:430px; min-height:420px; _height:420px; border-right:1px solid #f2f2f2; float:left; display:inline; margin:0px 0 0 30px; font-family: Microsoft Yahei;}
.login-con-right{ width:435px; float:right;}
.login{ float:left; overflow:hidden; border:none; margin-top: 10px;}
.login legend{ display:block; width:300px; height:40px; margin-top:40px; background:url(../images/log-tit.png) no-repeat; text-indent:-9999px;}
.login-item,.rem-item{ line-height:32px; clear:both; margin-top:32px; min-height:42px;}
.rem-item,.login-bar{ padding-left:84px;}
.login-item label{ display:block; line-height:42px; width:74px; float:left; text-align:right; margin:0 10px 5px 0px; font-size:16px;}
.login-txt{ height:70px; text-indent:-9999px; margin:100px auto 0; background:url(../images/reg-pic01.png) no-repeat center center;}
.loginBtnBox{ height:32px; line-height:32px; margin-top:10px; text-align:center;}
.loginBtnBox .login-rtBtn{ display:inline-block; width:100px; height:32px; margin-left:10px; text-align:center; font-size:16px; font-weight:bold; font-family: Microsoft Yahei; border-radius:3px; border:1px solid #ea7400;}
/*qq登录完善资料*/
.qqreg-con{overflow: hidden;}
.qqreg-con-left{ width:430px; border-right:1px solid #f2f2f2; float:left; display:inline; margin:0px 0 0 30px; font-family: Microsoft Yahei;}
.qqreg{ float:left; overflow:hidden; border:none; margin-top: 10px;}
.qqreg legend{ display:block; width:100%; height:40px; background:url(../images/qq-tit.png) no-repeat; text-indent:-9999px;}
.qqreg-item{ line-height:32px; clear:both; margin-top:32px; min-height:42px;}
.qqreg-item label{ display:block; line-height:42px; width:74px; float:left; text-align:right; margin:0 10px 5px 0px; font-size:16px;}
.qqreg-item .w100{width:100px;}
.qqreg-item label.valid,.qqreg-item label.error,.qqreg-item label.txt-ok{display: none; width:300px; text-align: left; margin:0 10px 0px 0px; line-height: 32px; font-size: 12px;}
.qqreg-item label.txt-ok{padding: 5px 0px 0px 7px; float: left; width:20px;}
.qqreg-con-right{ width:435px; float:right;}
.qqreg-txt{ height:70px; text-indent:-9999px; margin:70px auto 0; background:url(../images/reg-pic01.png) no-repeat center center;}
.qqregBtnBox{ height:32px; line-height:32px; margin-top:10px; text-align:center;}
.qqregBtnBox .right-regBtn{ display:inline-block; width:100px; height:32px; margin-left:10px; background:url(../images/reg-btn.png) no-repeat; text-indent:-9999px;}
.qqreg-sub-btn{ padding-left:84px; margin-top:32px;}
.qqright-prompt{ margin-top:30px; text-align:center; font-size:16px; font-family: Microsoft Yahei;}
/*选择好友*/
.reg-friend-con{overflow: hidden; margin-bottom: -20px;}
.friend-tit{padding: 0px 0px 12px 0px; _height:40px; border-bottom:1px dotted #dbdbdb; font-weight:100; overflow: hidden; font-family: Microsoft Yahei;}
.friend-tit .friend-tit-big{font-size:26px; padding-right: 5px; font-family: Microsoft Yahei;}
.friend-tit .friend-tit-ref{padding-top: 15px; }
.friend-tit .friend-tit-ref a{color: #0288cf; }
.friend-tit .friend-tit-ref em{float: left; margin:2px 3px 0 0; width:15px; height:13px; background:url(../images/icon8.png) no-repeat;}
.friend-tit .friend-tea{font-size:16px; margin: 5px 284px 0 0; line-height:36px;}
.friend-tit .friend-tea em{display:inline-block; vertical-align:5px; width:18px; height:13px; background:url(../images/friend-tea-bg.png) no-repeat; text-indent:-9999px;}
.friend-tit .friend-tea em.teaR{background-position: -22px 0px;}
.friend-list{padding: 30px 0px 0px 1px; margin-right: -20px;}
.friend-e{width:187px; height:80px; float: left; margin: 0px 15px 15px 0px; *margin: 0px 11px -10px 0px; border:1px solid #ededed;padding: 12px;position: relative;overflow: hidden;}
.friend-e .friend-e-pic{float: left; margin-right: 14px;}
.friend-e .friend-e-pic img{border-radius:3px;}
.friend-e .fr-e-1{float: left; color: #08c; *width: 120px;}
.friend-e .fr-e-tit{ float: left;}
.friend-e .fr-e-girl{width:8px; height:11px; float: left; background:url(../images/icon9.png) no-repeat; margin-left: 3px; margin-top: 2px;}
.friend-e .fr-e-boy{width:12px; height:11px; float: left; background:url(../images/icon10.png) no-repeat; margin-left: 3px; margin-top: 2px;}
.friend-e .fr-e-vip{width:16px; height:14px; float: left; background:url(../images/icon7.png) no-repeat; margin-left: 3px; margin-top: 1px;}
.friend-e .fr-e-2{ margin-top:4px; height:12px; overflow:hidden; background:#f1f4f7; float: left; width:120px; border-radius:3px; box-shadow: 0px 1px 0px 0px #ccc inset;}
.friend-e .fr-e-2 .fr-e-2-info{background:#e7e9ec; height:12px; overflow:hidden; width:50px; display: block; border-radius:3px; box-shadow: 1px 1px 1px 0px #ccc inset;}
.friend-e .fr-e-j1{display: block; position: absolute; right:0px; top:0px; width:27px; height:27px; background:url(../images/reg-fir01.png) no-repeat;}
.friend-e .fr-e-j2{display: block; position: absolute; right:0px; top:0px; width:27px; height:27px; background:url(../images/reg-fir01.png) no-repeat -27px 0px;}
.friend-e .fr-e-j3{display: block; position: absolute; right:0px; top:72px; width:62px; height:27px;}
.friend-e .fr-e-j3 a{color: #08c;}

.friend-list .current{ border:1px solid #ffac33;}
.friend-list .current .fr-e-j1{background-position: -27px 0px;}
.fri-sub-btn{margin: 0 auto; text-align: right; padding-top: 20px;}
.fri-sub-btn .btn-big{margin-left: 10px; box-shadow: 0px 0px 0px 0px #666;}
.fri-sub-btn .btn-gray{cursor: text;}
.btn-gray:hover{color: #666;}

.friend-e .fr-e-3{ margin-top:1px; color:#a5a5a5; float: left; width: 120px;}
.friend-e .fr-e-3 .v-line{ padding:0 5px;}
.friend-e .fr-e-3 em{ padding:0 2px; color:#ff7e00;}
.friend-e .fr-e-3 em a{ color:#ff7e00;}

.addAtten,.okAtten{ display:block; width:48px; height:21px; line-height:21px; overflow:hidden; margin-top:7px; text-align:center; border:1px solid #d9d9d9; border-radius:3px; background-color:#f5f5f5; background-image:-webkit-linear-gradient(top,#fafafa,#f1f1f1); background-image:-moz-linear-gradient(top,#fafafa,#f1f1f1); background-image:-ms-linear-gradient(top,#fafafa,#f1f1f1); background-image:-o-linear-gradient(top,#fafafa,#f1f1f1); background-image:linear-gradient(top,#fafafa,#f1f1f1);}
.addAtten{_height:auto; _padding:4px 0 3px;}
.okAtten{ color:#a5a5a5;}
.icon-addAtten{ display:inline-block; width:8px; height:8px; margin:0 4px 2px 0; overflow:hidden; background:url(../images/jia-icon.png) no-repeat; vertical-align: middle;}
.addAtten:hover{text-decoration: none; border-color: #00acec; background-color: #00aeef; color: #fff;
	background-image: -webkit-linear-gradient(top,#00b8fd,#00a1dd);
	background-image: -moz-linear-gradient(top,#00b8fd,#00a1dd);
	background-image: -ms-linear-gradient(top,#00b8fd,#00a1dd);
	background-image: -o-linear-gradient(top,#00b8fd,#00a1dd);
	background-image: linear-gradient(top,#00b8fd,#00a1dd);
}
.addAtten:hover .icon-addAtten{ background:url(../images/jia-icon.png) no-repeat 0px -8px;}
/*找回密码*/
.fin-con .reg-sub-btn{padding-top:50px;}
.fin-con .w60{width:60px;}
.fin-con .reg-con-left{width:600px; margin-left: 0;}
.fin-con .reg-con-left .friend-tit{margin-right: 40px;}
.fin-con .find-email-pic{
	background:#fbfbfb url(../images/reg-find-pic03.png) no-repeat 40px 40px; 
	border:1px solid #efefef; 
	border-radius:3px; 
	margin:50px 40px 0 0; 
	padding:60px 0 60px 180px;
	font-size: 14px;
}
.fin-con .find-email-pic a{color: #0088cc; font-weight:600; font-size: 16px; cursor: pointer;}

.reg-cerCodeBox{position: relative;}
.reg-cerCodeBox .error{position: absolute; left: 84px; top: 45px; color: #ff7e00; float: none;}
.reg-cerCodeBox .txt-input{position: static; color: #a5a5a5; float:left;}
.reg-cerCodeBox .valid{position: absolute; left: 84px; top: 45px; float: none;}
.reg-cerCodeBox .txt-ok{position: absolute; left: 77px; top: 45px; float: none;}
/*选择考试*/
.reg-exam-con{overflow: hidden; margin-bottom: -20px;}
.exam-tit{height: 50px; border-bottom:1px dotted #dbdbdb; font-weight:100; overflow: hidden; font-size: 14px; font-family: Microsoft Yahei;}
.exam-tit .exam-tit-big{font-size:26px; padding-right: 10px;}
.exam-tit .color_orange{ font-family: Arial; font-weight:600; padding: 0 5px;}
.exam-tit .btn-big{float: right;}
.reg-exam-con .exam-list{padding: 10px 0px;}
.reg-exam-con .exam-e{padding: 17px 0px; _height:80px; overflow: hidden;}
.reg-exam-con .exam-e img{float: left;}
.reg-exam-con .exam-e-txt{float: left; padding-left: 22px; width:725px;}
.reg-exam-con .exam-e-txt h3{border-top:1px solid #eee; position: relative; height:22px; margin-top: 15px;}
.reg-exam-con .exam-e-txt .exam-e-tit{position: absolute; top:-13px; left:0px; font-size:16px; background:#fff; padding-right: 5px; font-family: Microsoft Yahei;}
.reg-exam-con .exam-e-txt .exam-e-prompt{position: absolute; top:-10px; right:0px; font-weight:100; color: #a5a5a5; background:#fff; padding-left: 5px;}
.reg-exam-con .exam-e-con{overflow: hidden; font-family: Microsoft Yahei;}
.reg-exam-con .exam-sel{border:1px solid #e6e6e6; border-radius:3px; font-weight: 600;padding: 7px 10px 7px 18px; background:#fafafa url(../images/icon11-exam.png) no-repeat 8px 11px; float: left;box-shadow: 1px 1px 2px 0px #eee;margin-right: 15px;margin-bottom: 5px;cursor: pointer;}
.reg-exam-con .exam-sel:hover{text-decoration:none; border:2px solid #ffac32; padding: 6px 9px 6px 17px; background:#fafafa url(../images/icon11-exam.png) no-repeat 7px 10px;}
.reg-exam-con .exam-e-con .current{border:none; border-radius:3px; font-weight: 600;padding: 8px 11px 8px 19px; background:#ffac32 url(../images/icon12-exam.png) no-repeat 10px 13px;float: left;color: #ffffff;box-shadow: 1px 1px 2px 0px #be8025 inset;margin-right: 15px;margin-bottom: 5px;cursor: pointer;}
.reg-exam-con .exam-e-con .current:hover{text-decoration:none;}
.reg-exam-con .exam-e-con .current-buy{border:none; border-radius:3px; font-weight: 600;padding: 8px 11px 8px 19px; background:#ffac32 url(../images/icon12-exam.png) no-repeat 10px 13px;float: left;color: #ffffff;box-shadow: 1px 1px 2px 0px #be8025 inset;margin-right: 15px;margin-bottom: 5px;cursor: pointer;}
.reg-exam-con .exam-e-con .current-buy:hover{text-decoration:none;}
/*邀请*/
.invite{ padding: 0px 0px 0px; width:980px; overflow: hidden;}
.invite-left{float: left; display:inline; width: 510px; padding: 0 0 0 20px; font-family: Microsoft Yahei;}
.invite-right{ float: right; width:430px; background: #edf6ff; border:none; display:inline; margin:0px 0 0 0px; padding: 20px 0px 50px 20px; font-family: Microsoft Yahei;}
.reg-item2{margin-top: 12px; height: 24px;}
.invite-left h2{font-size: 24px; padding: 35px 0 20px 0px; font-weight: 100;}
.invite-left .invite-left-pic{float: left; padding-right: 15px;}
.invite-left .invite-left-c{float: left; width: 270px;}
.invite-left .invite-picList {margin-right: -20px;}
.invite-left .invite-picList a{margin-right: 18px;}
.invite-left .invite-picList a:hover{text-decoration: none;}
.invite-left .btn-big{height:33px; line-height:33px; font-size: 16px;}
/* footer */
.footer{ overflow:hidden; padding:30px 0 20px; width:980px; margin: 0 auto;}
.footer-box{ padding-left:120px;}
.f-service{ float:left; display:inline; margin-right:20px;}
.f-info{ float:left; color:#eee;}
.footer span{ padding:0 5px; color:#eee;}
.footer a{color: #eee;}
/* View Friends */
.viewF{ padding: 0px 0px 0px; width:980px; overflow: hidden; border-radius:0px; }
.viewF-left{float: left; display:inline; width: 510px; padding: 20px 0 0 20px; font-family: Microsoft Yahei;}
.viewF-right{ float: right; width:429px; background: #fafbfa; border:none; display:inline; margin:0px 0 0 0px; padding: 20px 0px 50px 20px; font-family: Microsoft Yahei; box-shadow: 5px -2px 5px 0px #eee inset; border-left: 1px solid #e0e1e0;}
.reg-item2{margin-top: 12px; height: 24px;}
.viewF-left h2{font-size: 24px; padding: 35px 0 20px 0px; font-weight: 100;}
.viewF-left .viewF-left-pic{float: left; padding-right: 15px;}
.viewF-left .viewF-left-c{float: left; width: 270px;}
.viewF-left .viewF-picList {margin-right: -20px;}
.viewF-left .viewF-picList a{margin-right: 21px; float: left; padding-bottom: 12px;}
.viewF-left .viewF-picList a img{display: block; padding-bottom: 5px;}
.viewF-left .btn-big{height:33px; line-height:33px; font-size: 16px;}
.viewF-right .btn-small1{font-size: 14px; font-weight: 600;}
.viewF-right .reg-item2{margin-top: 0px;}
.reg-item2 .useqq{ display:inline-block; margin-left:20px;}
.reg-item2 .qqimg-ico{ display:inline-block; width:17px; height:19px; line-height:0; vertical-align:middle; margin:0 3px 0 5px; background:url(../images/index-icon.png) no-repeat 0 -412px; text-indent:-9999px; cursor:pointer;}
.viewF-right .btn-big{height: 60px; line-height: 60px; font-size: 26px; padding: 0 40px;}
.selectSort{float:left; width:290px; height:40px; padding:5px 10px;border:1px solid #e5e5e5;border-radius: 3px;color: #666;font-family: Microsoft Yahei;box-shadow: 1px 1px 1px 0px #f1f1f1 inset;font-size:16px;}
.selectSort option{height: 30px; padding-top: 10px;}
.selectSortHover{border-color:#ff7e00 #ff7e00 #ff7e00 #ff7e00; color: #666; box-shadow: 1px 1px 1px 0px #ffd3a9 inset;}
/* finish */
.finish{border-radius:0px; padding-top: 0; font-family: Microsoft Yahei;}
.finish .regBtnBox{}
.finish .btn-big{height: 60px; line-height: 60px; font-size: 26px; padding: 0 40px;}
.finish .reg-con-left{width: 460px; margin-left: 50px;}
.finish .reg-con-right{width: 385px;}
/**/