body.body-bg02{background:#f7f7f7; overflow:auto;}
/* tmain */
.tmain{background:url(../images/tmall-order/tmall-bannerBg.jpg) no-repeat; margin:20px auto; width:980px; height:422px; border:1px solid #e6e6e6;}
.ww-online{background: url("../images/tmall-order/ww-online.png") no-repeat; display: block; height: 38px; overflow: hidden; position: absolute; right: 0px; text-indent: -9999px; top: 12px; width: 121px;}
/*注册*/
.reg-con{overflow: hidden; }
.reg-con-left{ width:430px; font-family: Microsoft Yahei; padding:40px 0 0 75px;}
.reg{ float:left; overflow:hidden; border:none; margin-top: 10px;}
.reg legend{ display:none; height:40px; text-indent:-9999px;}
.reg-item{ line-height:32px; clear:both; margin-top:24px; min-height:50px;}
.reg-item label{ display:block; line-height:42px; width:74px; float:left; text-align:right; margin:0 10px 5px 0px; font-size:16px;}
.txt-input{ float:left; width:350px; height:48px; line-height:48px; padding:0 0 0 35px;border:1px solid #e5e5e5;border-radius: 3px;color: #a5a5a5;font-family: Microsoft Yahei;box-shadow: 1px 1px 1px 0px #f1f1f1 inset;font-size:16px; background-image:url(../images/tmall-order/tmall-icon.png); background-repeat:no-repeat; transition:0.5s ease;}
input[type="checkbox"],input[type="radio"] { padding:0; vertical-align: -2px; _vertical-align: -1px; margin-right:3px; background:none; border:0;}
.txt-inputHover{border-color:#ff7e00 #ff7e00 #ff7e00 #ff7e00; color: #666; box-shadow: 1px 1px 1px 0px #ffd3a9 inset;}
.tmall-icon01{background-position:8px 13px;}
.tmall-icon02{background-position:8px -37px;}
.tmall-icon03{background-position:10px -87px;}
.tmall-icon04{background-position:8px -133px;}
.tmall-icon05{background-position:8px -184px;}


.reg-item label.valid,.reg-item label.error,.reg-item label.txt-ok{display: none; width:300px; text-align: left; margin:0 10px 0px 0px; line-height: 24px; font-size: 12px;}
label.valid{ float:left; color:#0088cc; height:24px; line-height:24px;}
.txt-prompt-fouce{ color:#389a0a;}
label.error{ float:left; color: #ff7e00;}
.reg-item label.txt-ok{padding: 10px 0px 0px 7px; float: left; width:20px;}
label.valid em,label.error em,.txt-ok em{ float: left; margin: 5px 3px 0 0; width:16px; height:16px; background:url(../images/ico_warn.png) no-repeat;}
label.valid em{ background-position: 0 -200px;}
label.error em{ background-position: 0 -50px;}
label.txt-ok em{ background-position: 0 0;}

.reg-ck-box{position: relative; height:60px;}
.reg-ck-box .error{position: absolute; left: 84px; top: 25px; color: #ff7e00; float: none;}
.reg-ck-box input.reg-ck{ vertical-align:-3px; margin:0 5px 0 84px; position:static;}
.reg-sub-btn{padding: 0px 0px 10px 0px; margin-top:24px;}
.reg-sub-btn .btn-big{height:50px; line-height:50px; width:120px; text-align:center; font-size:26px;}
.reg-con-left .f-gray{margin-top:40px;}
.f-gray{color: #a5a5a5;}

.r-load{font-family:microsoft yahei; font-size:24px; padding:150px 0 0 100px;}

a.bind-phone{color:#ff7e00; text-decoration:underline;}
a.bind-phone:hover{text-decoration:none;}

/*step*/
.tmall-step{width:982px; margin:0 auto;}


/* footer */
.footer{ overflow:hidden; padding:30px 0 20px; width:980px; margin: 0 auto;}
.footer-box{ padding-left:120px;}
.f-service{ float:left; display:inline; margin-right:20px;}
.f-info{ float:left; color:#666;}
.footer span{ padding:0 5px; color:#666;}
.footer a{color: #666;}





/**/