.utop-box{ margin:0 auto;}
.footer-box{ width:980px; margin:0 auto;}
.main{ width:800px; min-height:550px; _height:550px; padding:20px 40px; margin:20px auto 0; background:#fff; font-family:Microsoft Yahei; border-radius:8px;}
.goto_top a{ left:50%; margin-left:440px;}

.feedback-form{}
.feedback-form h2{ font-size:24px; font-weight:500;}
.feedback-form .subtit{ margin-top:15px; font-size:14px; position:relative;}
.feedback-form .subtit .feedback-btn{position:absolute; top:-7px; right:0px;}
.feedback-form .feedback-txt{ margin-top:10px;}
.feedback-form textarea { width:788px; height:160px; padding:5px; line-height:20px; font-size:14px; background:#f9f9f9; border:1px solid #d3d3d3;}
.feedback-form .bar{ margin-top:15px;}
.feedback-content{ margin-top:20px;}
.feedback-content h2{ padding-bottom:8px; font-size:24px; font-weight:500; border-bottom:2px solid #0088cc;}
.feedback-list{}
.feedback-list li{ line-height:24px; padding:20px 0; border-bottom:1px solid #f0f0f0;}
.feedback-list .feedback-tit{ font-size:14px; word-wrap: break-word;}
.feedback-list .feedback-from{ color:#a5a5a5;}
.feedback-list .feedback-from span{ margin-right:10px;}
.feedback-list .feedback-answer{ margin-top:10px; font-size:14px; color:#ff7e00; word-wrap:break-word;}

/*列表*/
.complaints-table{ width:100%; border-collapse:collapse;}
.complaints-table thead{}
.complaints-table tbody{ margin-bottom:10px;}
.complaints-table th{ height:36px; line-height:36px; background:#eee url(../../images/uCenter/order-thbg.png) repeat-x; border-bottom:2px solid #0088cc;}
.complaints-table th.cp-num{ width:80px;}
.complaints-table th.cp-content{}
.complaints-table th.cp-style{ width:100px;}
.complaints-table th.cp-time{ width:80px;}
.complaints-table th.cp-status{ width:80px;}
.complaints-table th.cp-operate{ width:105px;}
.complaints-table td{ line-height:20px; padding:8px 15px; text-align:center; vertical-align:top; border:1px solid #e7eef5;}
.complaints-table td.cp-content{ text-align:left;}
.complaints-table a{ color:#0088cc;}
.complaints-table .v-line{ color:#d5d5d5;}
.no-complaints{text-align:center; padding:50px 0;}

/*提交投诉*/
.comp-sel{margin-top:10px; font-size:14px;}
.comp-sel .radio-item{margin-right:20px;}
.comp-sel input{vertical-align:-1px; margin-right:2px;}

/*评价投诉*/
.comp-con{border:1px solid #e7eef6; margin-top:20px;}
.comp-con .part01{background:#e1f2fa; padding:15px; overflow:hidden; border-bottom:1px solid #e7eef6;}
.comp-con .part01 ul li{float:left; width:380px; line-height:30px; font-size:14px;}
.comp-con .part01 ul li span{display:inline-block; width:140px; text-align:right;}
.comp-con .part02{margin:15px; overflow:hidden; border-bottom:1px solid #e7eef6; padding-bottom:15px;}
.comp-con .part02 ul li{ line-height:30px; font-size:14px;}
.comp-con .part02 ul li span{float:left; width:140px; text-align:right;}
.comp-con .part02 ul li p{float:left; width:620px;}
.comp-con .part03{}
.comp-con .part03 h4{padding:10px 0 0 25px; font-size:14px;}
.comp-con .part03 .comp-assIcon{height:165px; text-align:center; padding-top:30px;}
.comp-con .part03 .comp-assIcon a{display:inline-block; width:108px; height:108px; background-image:url(../../images/uCenter/comp-assIconBg.png); background-color:#96d4f4; background-repeat:no-repeat; text-indent:-9999px; margin-right:20px; border-radius:54px; transition:0.5s ease all; -webkit-transition:0.5s ease all; -moz-transition:0.5s ease all;}
.comp-con .part03 .comp-assIcon a:hover{ background-image:url(../../images/uCenter/comp-assIconBg.png); background-color:#4cb1e4;}
.comp-con .part03 .comp-assIcon a.compBack{}
.comp-con .part03 .comp-assIcon a.compNay{background-position:-109px 0;}
.comp-con .part03 .comp-assIcon a.current01{ background-color:#ffa54e;}
.comp-con .part03 .comp-assIcon a.current02{ background-color:#eaeaea;}


