.contenter{ width:980px; padding:0; background:none;}
.main-con{ width:680px;}
.side-con{ width:280px;}
/*课程简介*/
.course-info{ min-height:130px; padding:15px 20px 20px; margin-top:20px; background:#fff; overflow:hidden; border:1px solid #e2e2e2; _zoom:1;}
.course-info .c-pic{ width:224px; height:126px; overflow:hidden; float:left;}
.course-info h1{ padding-bottom:15px; margin-bottom:20px; font-family:"微软雅黑"; font-size:24px; font-weight:500; border-bottom:1px solid #e2e2e2;}
.course-info h1 span{ color:#FF7E00}
.course-info .c-msg{ margin-left:244px;}
.course-info .c-info{ color:#a5a5a5;}
.course-info .c-info span{ margin-right:20px;}
.course-info .c-update{ padding:0; background:none; font-size:14px; color:#ff7e00;}
.course-info .last-study{ margin-top:10px;}
.course-info .last-study a{ color:#0088cc;}
.course-info .c-msg .c-progress{ overflow:hidden; margin-top:15px; _zoom:1; position:relative;}
.course-info .c-msg .progressbar{ width:635px;}
.course-info .bar{ margin-top:15px;}
.course-info .bar a{ margin-right:10px;}
.course-info .c-goon-btn em,.course-info .c-goexam-btn em,.course-info .c-goexam-btn2 em{display: inline-block; width: 17px; height: 17px; margin: 0 5px 0 0; background: url(../../images/uCenter/u-icon1.png) no-repeat; vertical-align: -3px;}
.course-info .c-goon-btn em{ background-position:-188px -125px;}
.course-info .c-goexam-btn em{ background-position:-189px -175px;}
.course-info .c-goexam-btn2 em{ background-position:-189px -150px;}
.course-info .c-goexam-btn,.course-record .c-notBuy-btn{ cursor:text;}
/*课程选项卡*/
.c-tab{ margin-top:20px;}
.c-tab-nav{ height:30px; padding:4px 0; overflow:hidden; background:#0088cc; position:relative; z-index:3;}
.c-tab-nav li{ float:left; display:inline; margin-left:8px;}
.c-tab-nav li a{ float:left; height:30px; line-height:30px; text-align:left; font-size:14px; font-family:Microsoft Yahei; color:#fff; border-radius:3px;}
.c-tab-nav li a:hover{ color:#fff; text-decoration:none; background:#0070a8;}
.c-tab-nav li.current a{ background:#005985;}
.c-tab-nav li em{ display:inline-block; width:14px; height:16px; margin:0 5px 0 0; background:url(../../images/uCenter/u-icon1.png) no-repeat; vertical-align:middle;}
.c-tab-nav li.c-tab-catalog em{ background-position:-80px -550px;}
.c-tab-nav li.c-tab-look em{ background-position:-104px -525px;}
.c-tab-nav li.c-tab-question em{ background-position:-104px -550px;}
.c-tab .tab-item{ width:100%; background:#fff;}
/*课程目录*/
.course-tree-box{ margin-top:0; border:1px solid #e2e2e2; border-top:none; position:relative; z-index:4;}
.course-tree-box .tree-line{ width:1px; height:100%; top:0; bottom:0; background:#c5c6c5; position:absolute; left:21px;}
.course-tree-box .tree-mask{ width:100%; height:100%; position:absolute; top:0; bottom:0; background:#fff; opacity:1; z-index:111;}
.course-tree{ position:relative;} 
.course-tree .level0{_zoom:1;}
.course-tree a{ text-decoration:none;}
.course-tree li.level0{ position:relative;}
.course-tree .tree-title0{ height:35px; line-height:35px; padding:0 15px; font-size:14px; font-weight:bold; background-color:#ededed; border-top:2px solid #fff; position:relative; _zoom:1; cursor:pointer;}
.course-tree .tree-title0-hover{ background-color:#e0e0e0;}
.course-tree li.level0 .tree-title0-close{}
.course-tree .tree-title0 a{ color:#0088cc; font-family:Microsoft Yahei;}
.course-tree .tree-title0 a:hover{ text-decoration: underline;}
.course-tree .ico-open,.course-tree .ico-close{ float:left; width:15px; height:15px; line-height:15px; margin:13px 10px 0 0; background:url(../../images/uCenter/clist-ico3.png) no-repeat;}
.course-tree .ico-open{ background-position:-30px 0;}
.course-tree .ico-close{ background-position:-33px -20px;}
.course-tree .tree-title0 .download{ display:inline-block; height:23px; line-height:23px; padding:0 9px; background:none; font-family: "宋体"; font-size:12px; position:absolute; top:4px; right:10px; border:1px solid #ededed; border-radius:3px;}
.course-tree .tree-title0 .download em{ display:inline-block; width:10px; height:12px; margin-right:5px; background:url(../../images/uCenter/clist-ico3.png) no-repeat -30px -160px; vertical-align:middle;}
.course-tree .tree-title0 .hover,.course-tree .tree-title0 .download:hover,.course-tree .tree-title0-hover .download{ text-decoration:none; background-color:#ff8e20; border-color:#ea7400; color:#fff;
           background-image:-moz-linear-gradient(bottom , #ff7f01 0%, #ffa043 100%);
		   background-image:-o-linear-gradient(bottom , #ff7f01 0%, #ffa043 100%);
		   background-image:-webkit-linear-gradient(bottom , #ff7f01 0%, #ffa043 100%);
		   background-image:-webkit-gradient(linear,left bottom,left top,color stop(0 #ff7f01),color stop(1 #ffa043));
		   background-image:-ms-linear-gradient(bottom , #ff7f01 0%, #ffa043 99%);}
.course-tree .tree-title0 .hover em,.course-tree .tree-title0 .download:hover em,.course-tree .tree-title0-hover .download em{ background-position:-30px -140px;}		   
.course-tree .tree-th{ padding:10px 0 5px; margin-right:5px; text-align:right; color:#a5a5a5;}
.course-tree .tree-th span{ padding:0 10px;}
.course-tree .tree-th .color_orange{padding-right: 330px;}
.course-tree .tree-title1{ height:33px; line-height:33px; font-weight:bold; position:relative; cursor:pointer;}
.course-tree .ico-open1,.course-tree .ico-close1{ float:left; display:inline; width:23px; height:33px; margin:0 15px 0 10px; background:url(../../images/uCenter/clist-ico3.png) no-repeat;}
.course-tree .ico-open1{ background-position:0 -35px;}
.course-tree .ico-close1{ background-position:0 5px;}
.course-tree .tree-title1 .title1-link{ color:#0088cc; font-size:14px; font-family:Microsoft Yahei;}
.course-tree .tree-title1 a:hover{ text-decoration:underline;}
.course-tree .tree-title1 .title1-link{ display:inline-block; width:360px;}
.course-tree .tree-time{ color:#a5a5a5; position:absolute; top:0; right:15px;}
.course-tree .list li.hover .tree-time{ display:none;}
.course-tree .tree-study-btn{ display:none; padding:0 10px; position:absolute; top:5px; right:10px; font-family: Microsoft yahei;}
.course-tree .list li.hover .tree-study-btn{ display:inline-block;}
.course-tree .tree-study-btn:hover{ box-shadow:none; border-color:#ddd; color: #08c;}
.course-tree .list{ width:100%; padding:0; position:relative;}
.course-tree .list li.look .vlink{ color:#0088cc;}
.course-tree .list li.master .vlink{ color:#FF9C20;}
.course-tree .list li{ height:33px; line-height:33px; position:relative;}
.course-tree .list li.hover{ background:#0188cc; color:#fff;}
.course-tree .list li.hover .tree-time,.course-tree .list li.hover .vlink{ color:#fff;}
.course-tree .list li .cico{ float:left; width:17px; height:33px; margin:0 10px 0 13px; background:url(../../images/uCenter/clist-ico3.png) no-repeat;}
.course-tree .list li .cnot-ico{ background-position:0 -80px;}
.course-tree .list li .chalf-ico{ background-position:0 -146px;}
.course-tree .list li .cend-ico{ background-position:0 -212px;}
.course-tree .list li.hover .cnot-ico{ background-position:0 -113px;}
.course-tree .list li.hover .chalf-ico{ background-position:0 -179px;}
.course-tree .list li.hover .cend-ico{ background-position:0 -245px;}
.course-tree .ico-test,.course-tree .download{ background:url(../../images/uCenter/clist-ico3.png) no-repeat;}
.course-tree .list li .ico-test{ display:inline-block; width:13px; height:14px; background-position:-30px -40px; position:absolute; top:10px; right:160px;}
.course-tree .list li.hover .ico-test{ background-position:-30px -100px;}
.course-tree .list li .ico-test.old{ background-position:-30px -80px;}
.course-tree .new{ float:left; margin-right:3px; font-weight:bold; color:#ff9c20;}
.course-tree .tree-title1 .new{font-size: 14px;}
.course-tree .vlink{ display:inline-block; width:360px; font-family:Microsoft Yahei;}
.course-tree .vlink:hover{ color:#0088cc; text-decoration:none;}
.course-tree .list li .ico-look{ display:inline-block;}
.course-tree .ico-look{ display:inline-block; width:60px; text-align:center; color:#a5a5a5; position:absolute; right:5px;}
.course-tree .list li.hover .ico-look{ color:#fff;}
.course-tree .ico-download{ display:inline-block; width:10px; height:12px; text-indent:-9999px; background-position:-30px -120px; position:absolute; top:10px; right:98px;}
.course-tree .list li.hover .ico-download{ background-position:-30px -140px;}
.course-tree .ico-download2{ display:inline-block; width:10px; height:12px; text-indent:-9999px; background-position:-30px -160px; position:absolute; top:10px; right:98px;}
.course-tree .list li.not{}
.course-tree .list li.not .not-pro{ color:#ff8a00; position:absolute; top:0; right:15px;}
.course-tree .list li.not .vlink{ color:#d5d5d5;}
.course-tree .tree-content{ width:100%; position:relative;}
.course-tree .popup{ display:none; position: absolute; bottom:35px; right:-5px; z-index:3;}
.course-tree .list li .popup,.course-tree .tree-title1 .popup{ right:54px; bottom:37px; line-height:20px;}
.course-tree .list li .popup a{ color:#0088cc;}
.course-tree .popup-con{ line-height:20px;}
.course-tree .popup-arrow-b{ left:auto; right:45px;}
.course-tree .tree-down-list{ width:230px; overflow:hidden;}
.course-tree .tree-down-list li{ width:105px; height:110px;}
.course-tree .tree-down-list li.downMP3{ float:left;}
.course-tree .tree-down-list li.downTxt{ float:right;}
.course-tree .tree-down-list li a{ display:block; width:105px; height:110px; overflow:hidden; line-height:185px; background:url(../../images/uCenter/download-spr.png) no-repeat; text-align:center; font-size:16px; color:#0088cc; font-family:Microsoft Yahei;}
.course-tree .tree-down-list li.downMP3 a{ background-position:0 0;}
.course-tree .tree-down-list li.downTxt a{ background-position:-105px 0;}
.course-tree .tree-down-list li a:hover{ text-decoration:underline;}
.course-tree .down-help{ margin-top:10px; font-size:12px; color:#a5a5a5; font-weight:500;}
.course-tree .down-help a{ color:#0088cc;}
.course-tree .warm-ico{ display:inline-block; width:15px; height:16px; margin-right:5px; background:url(../../images/uCenter/ico_warn.png) no-repeat 0 -100px; vertical-align:middle;}
.down-tip{ font-size:12px; font-weight:500;}
.down-tip em{ display:inline-block; width:16px; height:16px; margin-right:5px; background:url(../../images/uCenter/loading.gif) no-repeat; vertical-align:middle;}
.course-tree .level1 .btn-small{border: none;}
/*观看记录*/
.qAndA-icon-Q,.qAndA-icon-A,.qAndA-icon-K,.qAndA-icon-G,.qAndA-icon-video{background-image: url(../../images/uCenter/newcourse-qIcon.png); background-repeat: no-repeat;}
.qAndA-icon-video{width: 11px; height: 11px; background-position: 0 -90px; display: inline-block; margin: 0 3px 0 0;}
.history-v li.hover .qAndA-icon-video{background-position: 0 -110px; vertical-align: -1px;}
.couHistory{width: 680px; background-color: #fff;}
.history-count{height:81px; padding: 20px 0 0 20px; font-family: Microsoft Yahei;}
.history-count li{float: left; width: 133px; height: 81px; background: #b0ddf4; margin-right: 10px; color: #fff;text-align: center;}
.history-count li{
-webkit-animation:flipInY 1s .2s ease both;
-moz-animation:flipInY 1s .2s ease both;}
@-webkit-keyframes flipInY{
0%{-webkit-transform:perspective(400px) rotateY(90deg);
opacity:0}
40%{-webkit-transform:perspective(400px) rotateY(-10deg)}
70%{-webkit-transform:perspective(400px) rotateY(10deg)}
100%{-webkit-transform:perspective(400px) rotateY(0deg);
opacity:1}
}
@-moz-keyframes flipInY{
0%{-moz-transform:perspective(400px) rotateY(90deg);
opacity:0}
40%{-moz-transform:perspective(400px) rotateY(-10deg)}
70%{-moz-transform:perspective(400px) rotateY(10deg)}
100%{-moz-transform:perspective(400px) rotateY(0deg);
opacity:1}
}
.history-count li span{display: block; font-size: 16px; margin-top: 10px;}
.history-count li em{font-size: 32px; line-height: 40px; font-weight: 600;} 
.history-list{border-left: 2px solid #f3f3f3; margin: 20px 0px 0 20px; padding: 20px 0; position: relative;}
.history-list .history-angle{display: block; width: 1px; height: 1px; position: absolute; left: -7px; top: -10px; background: #f3f3f3; border:5px solid #ccc; border-color: #fff #fff #f3f3f3 #fff;}
.history-e{position: relative; padding-bottom: 20px;}
.history-e-point{position: absolute; left: -8px; top: 18px; border: 2px solid #fff; background: #ff7e00; border-radius: 15px; width: 10px; height: 10px; display: block;}
.history-e h2{font-size: 32px; font-family: Constantia,Georgia,Microsoft Yahei; padding-left: 15px;}
.history-v{padding:0 0 0 10px; font-family: Microsoft Yahei;}
.history-v li{float: left; width: 180px; height: 65px; padding: 10px; margin:0 10px 10px 0; background: #f3f3f3;}
.history-v li p{font-size: 14px; line-height: 20px; height: 48px;}
.history-v li .t{color: #a5a5a5; float: left;}
.history-v li .s{ float: right;}
.history-v li .s a{color: #08c;}
.history-v li .del{float: left; color: #fff; display: none;}
.history-v li.hover{background: #08c; color: #fff;}
.history-v li.hover .s a{color: #fff;}
.history-v li.hover .t{color: #fff;}
.history-v li{
-webkit-animation:fadeInDown 1s .2s ease both;
-moz-animation:fadeInDown 1s .2s ease both;}
@-webkit-keyframes fadeInDown{
0%{opacity:0}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{
0%{opacity:0}
100%{opacity:1;
-moz-transform:translateY(0)}
}




/*常见问题*/
.qAndA{width: 640px; padding: 0 20px; background-color: #fff;}
li.qAndA-e{ padding: 17px 0; border-bottom: 1px dotted #a5a5a5; font-family: Microsoft Yahei;}
li.qAndA-e h4{position: relative; line-height: 28px; font-size: 14px; font-weight: 600;padding: 0 0 0 46px; color: #08c; cursor: pointer;}
li.qAndA-e .qAndA-e-con{padding: 0px 0 0 46px; width: 594px; margin-top: 10px; position: relative; font-size: 14px;}
li.qAndA-e .qAndA-e-con img{margin-top: 10px;}
.qAndA-icon-Q{width: 34px; height: 28px; position: absolute; left: 5px; top: 0px; background-position: 0 0px;}
.qAndA-icon-A{width: 34px; height: 28px; position: absolute; left: 5px; top: 0px; background-position: 0 -30px;}
.qAndA-icon-K{width: 5px; height: 6px; background-position: 0 -60px; display: inline-block; margin: 0 0 0 3px;}
.qAndA-icon-G{width: 5px; height: 6px; background-position: 0 -75px; display: inline-block; margin: 0 0 0 3px;}
li.qAndA-e h4 span{ position: absolute; right: 5px; top: 0px; font-size: 12px; font-weight: 100; color: #08c; cursor: pointer;}
/*资优生*/
.c-ziyou{padding: 20px 0 0 15px; overflow: hidden;}
.c-ziyou li{float: left; width: 50px; height: 74px; padding: 0 15px 15px 0; text-align: center; line-height: 24px; position: relative;}
.c-ziyou li .mark{position:absolute; left: -5px; top: -5px; background: url(../../images/uCenter/u-icon1.png) no-repeat -153px -219px; width: 15px; height:27px; line-height: 18px; color: #fff;}
.c-ziyou li .name{ display:block; width:50px; height:20px; line-height:20px; overflow:hidden;}
.c-ziyou li .name a{color: #999;}
.c-ziyou li .name a:hover{color: #08c;}
.c-ziyou li img{border-radius:3px;}
.c-ziyouNum{height: 135px; padding: 0 0 15px 15px; font-family: Microsoft Yahei;}
.c-ziyouNum .c-ziyouNum-l{float: left; width: 130px;}
.c-ziyouNum .c-ziyouNum-r{float: left; padding:0 0 0 10px; font-size: 14px;}
.c-ziyouNum .c-ziyouNum-01{border-bottom: 1px dotted #e5e5e5; padding:5px 0 5px 0; margin-bottom: 5px;}
.c-ziyouNum .c-ziyouNum-r span{display: block;}
.c-ziyouNum .c-ziyouNum-01 .num{color: #50afdf; font-size: 24px; font-weight: 600; line-height: 28px;}
.c-ziyouNum .c-ziyouNum-02 .num{color: #ff7e00; font-size: 24px; font-weight: 600; line-height: 28px;}
/*直播公告*/
.live-notice{ width:252px; margin:10px auto 20px; position:relative;}
.live-notice .live-notice-silde{ width:252px; height:160px; overflow:hidden; position:relative;}
.live-notice .live-notice-item{ width:252px; height:160px; position:absolute;}
.live-notice-item h4{ font-size:16px; color:#666; font-family: Microsoft Yahei; font-weight:500;word-break:normal; word-wrap:break-word; padding: 10px 0 10px 0;}
.live-notice-item h4 a{display: block;}
.live-notice-item h4 .fb{font-weight: 600; }
.live-notice-item p{ line-height:20px; margin-top:5px; color:#a5a5a5;}
.live-notice .prev,.live-notice .next{ display:inline-block; width:23px; height:23px; background:url(../../images/uCenter/slide-ico.png) no-repeat; text-indent:-9999px; position:absolute; bottom:0px;}
.live-notice .prev{ background-position:0 0; left:0;}
.live-notice .prev:hover{ background-position:0 -23px;}
.live-notice .next{ background-position:-23px 0; right:0;}
.live-notice .next:hover{ background-position:-23px -23px;}
.live-notice-page{ width:100%; margin-top:10px; text-align:center;}
.live-notice-page a{ display:inline-block; width:12px; height:12px; margin:0 5px; background:url(../../images/uCenter/slide-ico.png) no-repeat 0 -46px; text-indent:-9999px;}
.live-notice-page a:hover{ background-position:-24px -46px;}
.live-notice-page a.activeSlide{ background-position:-12px -46px;}

.live-notice-item .time{height: 70px; color: #fff; font-family: microsoft yahei;}
.live-notice-item .time .day{float: left; width: 120px; height: 70px; padding-left: 20px; background: #b0ddf4; margin-right: 2px; font-size: 16px;}
.live-notice-item .time .day em{font-size: 48px; font-weight: 600; float: left;}
.live-notice-item .time .day em.f14{font-size: 14px; float: none; display: block;}
.live-notice-item .time .hour{float: left; width: 108px; height: 45px; background: #91bfd5; text-align: center; line-height: 45px; font-size: 16px;}
.live-notice-item .time .week{float: left; width: 108px; height: 25px; background: #7ba3b5; text-align: center; line-height: 25px; font-size: 14px;}


/*意见反馈*/
.sid-feedback{ padding:10px;}
.sid-feedback .txt{ position:relative;}
.sid-feedback .txt textarea{ width:246px; height:90px; line-height:18px; font-size:12px; padding:5px; border:1px solid #d3d3d3;}
.sid-feedback .txt label{ position:absolute; top:5px; left:7px; color:#a5a5a5; cursor:pointer;}
.sid-feedback .bar{ margin-top:10px; text-align:right;}
/*ad*/
.ad680{ width:680px; height:80px; overflow:hidden; margin-top:20px;}