/*下载中心*/
.download-ad{height: 80px; background: #fff7f0;}
.slide-ad{ width:840px; height:80px; overflow:hidden; margin:10px auto 0; position:relative; background: #f6f6f6;}
.slide-ad-con{ width:840px; height:80px; overflow:hidden; position:relative;}
.slide-ad .item{ width:840px; height:80px; position:absolute;}
.slide-ad-page{ position:absolute; z-index:9; bottom:10px; right:10px;}
.slide-ad-page a{ float:left; width:15px; height:15px; line-height:15px; margin-left:5px; text-align:center; background:#d3d3d3; background:rgba(0,0,0,0.1); color:#fff;}
.slide-ad-page a.activeSlide{ background:#999; background:rgba(0,0,0,0.25);}
.slide-ad-page a:hover{ text-decoration:none;}

.download-con{ width:840px; overflow:hidden;}
.download-con ul{padding: 20px 0 0 25px; overflow: hidden;}
.download-con ul li{float: left; display:inline; margin: 0 25px 20px 0; background: #f7f7f7; width: 380px; height: 103px;}
.download-con ul li h4{height: 50px;}
.download-con ul li .down-left.current{background: #f3f3f3;}
.download-con ul li .down-left{font-family: microsoft yahei; font-size: 16px; padding: 10px 20px 0 20px; float: left; border:1px solid #ececec; border-right: none; height: 91px; width:236px; }
.download-con ul li .down-left h4{font-weight:100;}
.download-con ul li a.download-icon{float: right; width: 103px; height: 103px; background: url(../../images/uCenter/download-icon.png);}
.download-con ul li a.download-icon:hover{background-position: 0 -103px;}
.download-con ul li a.download-icon.loaded{background-position: 0 -206px;}
.download-con ul li a.download-icon.buy:hover{background-position: 0 -309px;}
.download-con ul li .down-left .down-part{font-size: 12px; margin-top: 8px; color: #a5a5a5;}
.download-con ul li .down-left .down-part .score em{display: inline-block; width: 15px; height: 16px; background: url(../../images/uCenter/u-icon1.png) no-repeat -80px -98px; vertical-align: -2px; margin-right: 2px;}
.download-con ul li .down-left .down-part .peo em{display: inline-block; width: 15px; height: 16px; background: url(../../images/uCenter/u-icon.png) no-repeat 0px -21px; vertical-align: -2px; margin-right: 2px;}
.download-no{padding: 100px 0 200px 200px;}
























/**/

