.m-title{ margin-bottom:8px;}
.m-title h2{ font-size:18px; font-family:Microsoft Yahei; font-weight:500;}
.message-con{ margin-top:20px;}
.message-list{ padding-bottom:1px;}
.message-list li{ line-height:24px; padding:13px 180px 13px 15px; margin-bottom:-1px; border-top:1px solid #e7eef6; border-bottom:1px solid #e7eef6; position:relative;}
.message-list li.odd{ background:#f2f7fb;}
.message-list li.hover{ background:#e1f0fa;}
.message-list li a{ color:#0088cc;}
.message-list li .name{ font-weight:bold;}
.message-list li .time{ margin-left:5px; color:#a5a5a5;}
.message-list li .do-txt{ margin-left:5px; color:#333;}
.message-list li .del-bar{ display:none; color:#a5a5a5; position:absolute; top:13px; right:10px;}
.message-list li .del-bar a{ padding:0 5px;}
.message-list li .check{ margin-left:10px; vertical-align:-2px;}

.sel-box{ position:absolute; right:30px; top:65px; z-index:10; color:#fff;}
.sel-box input{ vertical-align:-2px; margin-right:5px;}
.sel-box .del-all{ display:inline-block; margin-right:20px;}
.sel-box .del-all a{ color:#fff;}
.sel-box .del-all a:hover{ color:#fff;}
.sel-box .del-ico{ display:inline-block; width:16px; height:16px; margin-right:3px; background:url(../../images/uCenter/u-icon1.png) no-repeat -318px 1px; vertical-align:middle;}






