/*reset*/
.pager{ padding-right:20px;}
/*提示图标*/
.point-1,.point-2,.point-3,.point-4,.point-5,.point-6{display:inline-block; width:15px; height:16px; background:url(../../images/uCenter/ico_warn.png) no-repeat; margin: 0 3px 0px 0px;}
.point-1{background-position:0 0 ;}
.point-2{background-position:0 -50px ;}
.point-3{background-position:0 -100px ;}
.point-4{background-position:0 -150 ;}
.point-5{background-position:0 -200px ;}
.point-6{background-position:0 -250px ;}
.myfri-con{ width:840px; overflow:hidden;}
.myfri-conBox{}
/*我的关注*/
.myfri-conBox .sec-menu0 a.current em{color: #fff;}
.friend-list{ width:740px; padding:0 0px 25px 0px; overflow: hidden; position:relative; _zoom:1;}
.friend-e{ width:303px; height:97px; float:left; display:inline; padding:15px; margin:25px 10px 0 20px; border:1px solid #e6e6e6; position: relative; overflow: hidden;}
.friend-e-hover{ padding:14px; border:2px solid #ff7e00;}
.friend-e dt.friend-e-pic{ float:left; width:50px;}
.friend-e dt.friend-e-pic img{border-radius:3px;}
.friend-e dd{ width:243px; height:97px; float:right; position:relative;}
.friend-e .info2,.friend-e .info3,.friend-e .info4{ overflow:hidden; margin-top:5px;}
.friend-e .info4{ margin-top:10px;}
.friend-e .name{ margin-right:5px; color:#0088cc;}
.friend-e .progressbar{ width:210px; height:10px;}
.friend-e .progress-value{ margin-left:1px;}
.friend-e .rank{ color:#a5a5a5;}
.friend-e .rank em{ color:#ff7e00;}
.friend-e .addAtten,.friend-e .okAtten,.friend-e .eachAtten,.friend-e .delAtten{ position:absolute; right:0; bottom:5px;}
.friend-e .delAtten{ display:none;}
.addAtten,.okAtten,.eachAtten{ display:inline-block; width:auto; height:23px; line-height:23px; padding:0 12px; overflow:hidden; background-color:#f2f2f2; border:1px solid #ddd; color:#666;
           background-image:-moz-linear-gradient(bottom , #e9e9e9 0%, #fafafa 100%);
		   background-image:-o-linear-gradient(bottom , #e9e9e9 0%, #fafafa 100%);
		   background-image:-webkit-linear-gradient(bottom , #e9e9e9 0%, #fafafa 100%);
		   background-image:-webkit-gradient(linear,left bottom,left top,color stop(0 #e9e9e9),color stop(1 #fafafa));
		   background-image:-ms-linear-gradient(bottom , #e9e9e9 0%, #fafafa 99%);}
.addAtten:hover{ background-color:#f9f9f9; background-image:none; color:#666; text-decoration:none; border:1px solid #ddd;}
.addAtten{ cursor:pointer;}
.delAtten{ display:inline-block; height:23px; line-height:23px; color:#0088cc;}
.add-icon{ color:#fb7f03; font-size:20px; margin-right:5px; vertical-align:middle;}
.each-icon{ display:inline-block; width:12px; height:10px; margin-right:5px; background:url(../../images/uCenter/u-icon1.png) no-repeat -193px -550px; vertical-align:middle;}
.ok-icon{ display:inline-block; width:12px; height:9px; margin-right:5px; background:url(../../images/uCenter/u-icon1.png) no-repeat -194px -575px; vertical-align:middle;}

.fr-e-girl,.fr-e-boy{display:inline-block; height:11px; background: url(../../images/uCenter/u-icon1.png) no-repeat -110px -375px; margin-left: 3px; margin-top: 2px;}
.fr-e-girl{ width:8px; background-position:-110px -375px;}
.fr-e-boy{ width:12px; background-position:-107px -350px;}
/*邀请好友*/
.invite-con{ padding:20px;}
.invite-con h2{ font-size:24px; font-family:Microsoft Yahei;}
.invite-way{ margin-top:10px; border:1px solid #ececec;}
.invite-way li{ padding:25px 15px;}
.invite-way h3{ font-size:14px; font-family:Microsoft Yahei; font-weight:500;}
.invite-way h3 em{ display:inline-block; width:29px; height:29px; line-height:29px; margin-right:10px; text-align:center; background:url(../../images/uCenter/number-bg.png) no-repeat; font-size:18px; font-family:Arial; color:#fff; font-style:italic; font-weight:bold;}
.invite-way .txt{ padding:5px 0 0 39px; color:#a5a5a5;}
.invite-way .form-bar{ padding-left:39px; margin-top:10px;}
.invite-way .t-input{ float:left; width:480px; padding:7px; height:20px; margin-right:10px; line-height:20px; font-size:16px; font-family:Arial; color:#666; border:1px solid #ededed; border-radius:3px;
	-moz-box-shadow:0 2px 2px #f7f7f7 inset;               /* For Firefox3.6+ */
	-webkit-box-shadow:0 2px 2px #f7f7f7 inset;            /* For Chrome5+, Safari5+ */
	box-shadow:0 2px 2px #f7f7f7 inset;                    /* For Latest Opera */}
.invite-way .second .txt-input.focus{ color:#666;}	
.invite-way .second .txt-input{ color:#aaa;}

.invite-way .share-bar{ padding-left:39px; margin-top:10px;}
.invite-way .bshare-custom a{ height:36px; margin-right:10px; opacity:1; padding-left:36px; background:url(../../images/uCenter/invite-share-ico.png) no-repeat;}*/
.invite-way .bshare-custom .bshare-sinaminiblog{ background-position:0 0;}
.invite-way .bshare-custom .bshare-qqmb{ background-position:0 -36px;}
.invite-way .bshare-custom .bshare-douban{ background-position:0 -72px;}
.invite-way .bshare-custom .bshare-renren{ background-position:0 -108px;}
.invite-way .bshare-custom .bshare-qzone{ background-position:0 -144px;}





