
/*个人资料*/
.perSet-perInfor{}
.perSet-perInfor fieldset{border-width:1px 0 0 0; border-style: solid; border-color:#e5e5e5;}
.perSet-perInfor fieldset legend{ font-family:Microsoft Yahei;}
.perSet-perInfor fieldset .fr{margin-top: -20px;}
.perInfor-basic,.perInfor-contact,.perInfor-job,.perInfor-edu{padding: 20px 100px 0px 15px;}
.perInfor-basic .uc-form,.perInfor-contact .uc-form,.perInfor-job .uc-form,.perInfor-edu .uc-form{padding-top: 10px;}
.basic-view .edit-text{color: #08c;}
/*修改头像*/
.perSet-head{padding: 0px 15px;}
.perSet-head h3{font-weight:100; color: #a5a5a5; margin-top: 20px;}
.perSet-head h3 span{font-size:24px; font-family: Microsoft Yahei, sans-serif; color: #666; font-weight:600; margin-right: 5px;}
.perSet-head-l{float: left; margin-top: 10px; width:450px; height:330px; position: relative;}
.perSet-head-l a{display: block; width:450px; height:330px; background-image: url(../../images/uCenter/perSet-pic01.png);}
.perSet-head-l a:hover{display: block; width:450px; height:330px; background-position: 0px 330px;}
.perSet-head-l input{ position:absolute; font-size:300px \9; width:450px; height:330px; left:0; top:0; z-index:2; opacity:0; filter:alpha(opacity=0); -moz-opacity:0.5; -khtml-opacity: 0; cursor:pointer; outline:none; border:none;}
.perSet-head-l .perSet-head-pic{
		width:450px; 
		height:330px; 
		background:#a5a5a5; 
		position:absolute; 
		left:0; 
		top:0; 
		z-index:3; 
		text-align:center;
		display:table;
		overflow:hidden;}
.perSet-head-l .perSet-head-pic .head-pic{vertical-align:middle; display:table-cell;}

.perSet-head-r{float: left; margin-top: 10px; padding-left: 50px; line-height:18px; width:300px;}
.perSet-head-r h4{padding: 30px 0px 10px 0px; font-weight:100;}
.perSet-head-size01,.perSet-head-size02,.perSet-head-size03{text-align:center;}
.perSet-head-size01 span,.perSet-head-size02 span,.perSet-head-size03 span{display: block; padding-top: 5px; color: #a5a5a5;}
.perSet-head-size01{float: left;}
.perSet-head-size03{ margin-top:20px;}
.perSet-btnBox{position: relative;}
.perSet-btnBox a{ float: left; margin-right: 10px;}
.perSet-btn{ display: inline-block; outline:none; border:1px solid; border-radius:3px; cursor:pointer; height:34px; line-height:34px; padding:0 18px; font-size:16px; font-family:Microsoft Yahei; background-color:#05acec; border-color:#00a4e3; color:#fff; 
           background-image:-moz-linear-gradient(bottom , #15a7dd 0%, #1dbffd 100%);
		   background-image:-o-linear-gradient(bottom , #15a7dd 0%, #1dbffd 100%);
		   background-image:-webkit-linear-gradient(bottom , #15a7dd 0%, #1dbffd 100%);
		   background-image:-webkit-gradient(linear,left bottom,left top,color stop(0 #15a7dd),color stop(1 #1dbffd));
		   background-image:-ms-linear-gradient(bottom , #15a7dd 0%, #1dbffd 99%);
		   }
.perSet-btn:hover{ background-color:#00b9ff; background-image:none; border-color:#00a4e8; color:#fff; text-decoration:none;}
.perSet-btnBox .perSet-btn-serva{ position: absolute; left: 0px; z-index: 3;}
.perSet-btnBox .perSet-btn-sel{ position: absolute; left:90px; z-index: 1;}
.perSet-btnBox input{ position:absolute; font-size:30px \9; width:120px; height:32px; left:90px; top:20px; z-index:2; opacity:0; filter:alpha(opacity=0); -moz-opacity:0.5; -khtml-opacity: 0; cursor:pointer; outline:none; border:none;}


/*收货地址*/
.perSet-address-list{border:1px solid #e5e5e5; border-radius:3px; padding: 10px 15px;}
.perSet-address h4{font-weight:100; color: #a5a5a5; border-bottom:1px solid #e5e5e5; padding-bottom: 5px;}
.perSet-address h4 span{font-weight:600; color:#666; font-family:Microsoft Yahei; font-size:14px; padding-right: 3px;}
.perSet-address-list ul{padding-top: 10px;}
.perSet-address-list ul li{height:40px; line-height:40px; padding: 0 15px; border-bottom:1px dashed #e5e5e5;}
.perSet-address-list ul li.current{background:#f8f8f8; border-radius:3px; border:none;}
.perSet-address-list ul li .fr a{padding:0 6px; color: #0088cc;}
.perSet-address-list ul li .fr .default-address2 a{color: #ff7e00; padding:0;}
.perSet-address-new{border:1px solid #e5e5e5; border-radius:3px; padding: 10px 15px 30px;}
.perSet-address-new .perSet-btn-serva{margin-left: 115px;}

/*修改密码*/
.perSet-password{}
.perSet-password-con{border:1px solid #e5e5e5; border-radius:3px; padding: 10px 15px 30px;}
.perSet-password h4{font-weight:100; color:#a5a5a5; border-bottom:1px solid #e5e5e5; padding-bottom: 5px;}
.perSet-password h4 span{font-weight:600; color:#666; font-family:Microsoft Yahei; font-size:14px; padding-right: 3px;}
.perSet-password-con .perSet-btn-serva{margin-left: 115px;}

/*选择考试*/
.perSet-exam{padding:0;}
.perSet-exam h4{ margin-top: 15px; font-size: 14px; font-family: Microsoft Yahei;}
.exam-list{}
.exam-list .exam-e{padding: 17px 0px; overflow: hidden; *height:80px;}
.exam-list .exam-e img{float: left;}
.exam-list .exam-e-txt{float: left; padding-left: 22px; width:630px;}
.exam-list .exam-e-txt h3{border-top:1px solid #eee; position: relative; height:22px; margin-top: 15px;}
.exam-list .exam-e-txt .exam-e-tit{position: absolute; top:-13px; left:0px; font-size:16px; background:#fff; padding-right: 5px; font-family: Microsoft Yahei;}
.exam-list .exam-e-txt .exam-e-prompt{position: absolute; top:-10px; right:0px; font-weight:100; color: #a5a5a5; background:#fff; padding-left: 5px;}
.exam-list .exam-e-con{overflow: hidden; font-family: Microsoft Yahei;}
.exam-list .exam-sel{
	border:1px solid #e6e6e6; 
	border-radius:3px;
	font-weight: 600;
	padding: 7px 10px 7px 18px;
	background:#fafafa;
	float: left;
	box-shadow: 1px 1px 2px 0px #eee;
	margin-right: 15px;
	margin-bottom: 5px;
}
.exam-list .exam-sel:hover{text-decoration:none; border:2px solid #ffac32; padding: 6px 9px 6px 17px; background:#fafafa;}
.exam-list .exam-e-con .current{
	border:none; 
	border-radius:3px; 
	font-weight: 600;
	padding: 8px 11px 8px 19px; 
	background:#ffac32 url(../../images/icon12-exam.png) no-repeat 8px 13px;
	float: left;
	color: #ffffff;
	box-shadow: 1px 1px 2px 0px #be8025 inset;
	margin-right: 15px;
	margin-bottom: 5px;
	cursor: pointer;
}
.exam-list .exam-e-con .current:hover{text-decoration:none;}

.exam-list .exam-e-con .current-buy{
	border:none; 
	border-radius:3px; 
	font-weight: 600;
	padding: 8px 11px 8px 19px; 
	background:#aaa url(../../images/icon12-exam.png) no-repeat 8px 13px;
	float: left;
	color: #ffffff;
	box-shadow: 1px 1px 2px 0px #666 inset;
	margin-right: 15px;
	margin-bottom: 5px;
	cursor: pointer;
}
.reg-exam-con .exam-e-con .current-buy:hover{text-decoration:none;}
.exam-list .exam-plan{float: left;}
.exam-list .exam-plan-tit a{color: #08c;}
.exam-list .exam-plan-tit em{display: inline-block; margin-right: 3px; vertical-align: -1px; width:12px; height:12px; background:url(../../images/uCenter/u-icon1.png) no-repeat -106px -325px;}
.exam-list .exam-plan .course-message{padding:15px 20px; margin-top: 0px;}
.exam-list .exam-plan-end{ overflow: hidden;}
.exam-list .exam-plan-endEdit{display: none;}
.exam-list .exam-plan-endEdit em{display: inline-block; margin-right: 2px; vertical-align: -3px; width:12px; height:12px; background:url(../../images/uCenter/u-icon.png) no-repeat 0 -600px;}
.exam-list .exam-plan-endEdit a{color: #08c;}
.exam-list .exam-plan-end p{float: left; margin-top: 6px;}
.exam-list .exam-plan-end .c-countdown{ margin-left:10px; float: left;}
.exam-list .exam-plan-end .c-countdown em{ display:inline-block; width:20px; height:29px; line-height:28px; text-align:center; margin:0 1px; background:url(../../images/uCenter/u-icon1.png) no-repeat -98px -275px; font-size:18px; color:#999; font-weight:bold;}
.exam-list .exam-plan .btn-small{font-family: "宋体";}

.exam-plan input[type="checkbox"],.exam-plan input[type="radio"] { margin: 0 3px 0 0px; vertical-align: -2px;}
.exam-plan .emam-plan-iphoneIcon{ background:url(../../images/uCenter/u-icon.png) no-repeat 0 -750px; width: 8px; height: 12px; margin: 11px 0px 0 10px; float: left;}

.personSet-tishi{line-height: 27px; padding-left: 10px; color: #a5a5a5;}
.personSet-tishi em{display: inline-block; margin-right: 3px; vertical-align: -4px; width:13px; height:16px; background:url(../../images/uCenter/u-icon1.png) no-repeat -80px -450px;}
.exam-tit{height: 24px; font-weight:100; font-size: 14px; font-family: Microsoft Yahei; position: relative;;}
.exam-tit .exam-tit-big{font-size:14px; padding-right: 10px; font-weight: 600;}
.exam-tit .color_orange{font-size:14px; font-family: Arial; font-weight:600; padding: 0 5px;}
.perSet-exam .btn-amid{float: right;  border-color:#00a4e1;}
.exam-tit .btn-amid{position: absolute; right: 0px; top: -2px; float: none;}

.btn-big{height:42px; line-height:42px; font-size: 18px; font-family: Microsoft Yahei; font-weight:600; display: inline-block; padding:0 30px; outline:none; border:1px solid; border-radius:3px; cursor:pointer;}
.btn-big:hover{text-decoration:none;}
.btn-amid{height:28px; line-height:28px; font-size: 16px; font-family: Microsoft Yahei; font-weight:600; display: inline-block; padding:0 30px; outline:none; border:1px solid; border-radius:3px; cursor:pointer;}
.btn-amid:hover{text-decoration:none;}

/*新加*/
.exam-item{ margin-top:20px;}
.exam-item.br{ border-bottom:1px solid #e7e7e7;}
.exam-item h3{ font-size:18px; font-family:Microsoft Yahei;}
.exam-timeSet-item{ width:100%; padding:20px 0; font-family:Microsoft Yahei; position:relative;}
.exam-timeSet-item span{ font-size:16px;}
.exam-timeSet-item .tit{ font-size:14px;}
.exam-timeSet-item .c-countdown{ font-size:16px; font-weight:bold;}
.exam-timeSet-item p{ padding-left:102px; margin-top:10px; color:#a5a5a5; font-family:"宋体";}
.exam-timeSet-item .btn-small{ position:absolute; bottom:20px; right:10px;}
.exam-timeSet-item .mod-btn{ color:#0088cc; position:absolute; bottom:20px; right:10px;}
.exam-item select{ width:80px; padding:3px 5px; text-align:center; font-size:16px; font-family:Microsoft Yahei; color:#666; border:1px solid #cecece;}
.exam-timeSet-item .sms-check{ color:#666; font-size:12px;}
.exam-timeSet-item .sms-check input{ vertical-align:-3px; margin-right:5px;}
.exam-item .icon-sms{ display:inline-block; width:17px; height:14px; margin-right:5px; background:url(../../images/uCenter/icon-sms.png) no-repeat; vertical-align:middle;}

.exam-add{ margin-top:20px; border:1px solid #e9e9e9;}
.exam-add a{ display:block; height:50px; line-height:50px; padding:45px 0; background:#f7f7f7; text-align:center; font-size:22px; font-family: Microsoft Yahei;}
.exam-add a em{ display:inline-block; width:50px; height:50px; margin-right:10px; background:url(../../images/uCenter/add-icon.png) no-repeat; vertical-align:middle;}
.exam-add a:hover{ background:#eee; text-decoration:none; color:#666;}
.exam-score-add{ padding:20px 20px 20px 10px; margin-top:20px; background:#f7f7f7; border:1px solid #b2dbef;}
.exam-score-add .item{ line-height:33px; overflow:hidden; margin-bottom:10px;}
.exam-score-add h4{ width:80px; float:left; margin:0;}
.exam-score-add .con{ width:710px; overflow:hidden; margin-left:90px;}
.score-add-list{ width:720px; overflow:hidden;}
.score-add-list li{ width:180px; float:left; margin-bottom:10px; font-size:14px; font-family:Microsoft Yahei;}
.score-add-list li input{ width:70px; height:20px; line-height:20px; padding:5px; border:1px solid #cecece;}
.score-add-list li input:focus{ border-color:#ff7e00;}
.exam-score-add .bar{ text-align:right;}
.exam-score-add .error{ color:#fe7c00; margin-right:20px;}

.exam-result{ margin-top:20px; background:#f6fcff; font-family:Microsoft Yahei; border:1px solid #b2dbef; position:relative;}
.exam-result .time{ height:45px; line-height:45px; padding-left:20px; font-size:18px; border-bottom:1px solid #b2dbef;}
.exam-result .result-list{ width:100%; overflow:hidden; padding:10px 0;}
.exam-result .result-list li{ width:98px; padding:0 20px; float:left; font-size:14px; border-right:1px dotted #b2dbef;}
.exam-result .result-list li .name{}
.exam-result .result-list li .score{ color:#a0a0a0;}
.exam-result .result-list li .score .pass{ font-size:36px; font-family:Arial; color:#0088cc;}
.exam-result .result-list li .score .fail{ font-size:36px; font-family:Arial; color:#ff7f00;}
.exam-result .j-alterScore{ display:none; color:#0088cc; position:absolute; top:10px; right:20px;}
.must-star{ color:#f00;}



