body{ background:#070e2a url(../../images/uCenter/sr-bg.jpg) no-repeat center 60px;}
.utop-box{ width:960px; margin:0 auto;}
.utop .welcome{ padding-left:0;}
.f-service{margin-left:130px;}
.f-service a,.f-service a:hover,.f-info,.footer span{ color:#fff;}
.main{ width:960px; margin:0 auto;}

.sr-header{ height:155px; font-family:Microsoft Yahei;}
.sr-header h1{ float:left; width:370px; height:96px; background:url(../../images/uCenter/sr-tit.png) no-repeat; margin:35px 0 0; text-indent:-9999px;}
.sr-cycle-box{ float:left; display:inline; margin:50px 0 0 30px;}
.sr-cycle{ width:235px; height:30px; font-size:20px; color:#fff; position:relative;}
.sr-cycle .current-date{ width:185px; height:30px; line-height:30px; padding:0 40px 0 10px; background:#040c24 url(../../images/uCenter/sr-datebg.png) no-repeat right; border-radius:3px; cursor:pointer;}
.sr-cycle ul{ display:none; width:235px; background:url(../../images/uCenter/sr-date-listbg.png); position:absolute; left:0; top:29px; border-radius:0 0 3px 3px;}
.sr-cycle ul.over{ height:330px; overflow-x:hidden; overflow-y:auto;}
.sr-cycle ul li{}
.sr-cycle ul li a{ display:block; height:30px; padding:0 0 0 10px; color:#fff; cursor: pointer;}
.sr-cycle ul li a:hover{ background:#ff7e00; color:#fff; text-decoration:none;}

.sr-container{ width:960px; padding:0 0 35px 0; background:#fff; font-family:Microsoft Yahei;}
.sr-container-top{ height:45px; background:url(../../images/uCenter/sr-mbg.png) no-repeat; overflow:hiddenl}
.sr-info{ width:914px; margin:0 auto;}
.sr-info-item{ float:left; width:182px; height:150px; background:#2772d8 url(../../images/uCenter/sr-line.png) no-repeat center center; text-align:center; border-right:1px solid #95c6ef;}
.sr-info-friend{ border:none;}
.sr-info-item h4{ margin:35px 0 7px 0; font-size:20px; color:#fff;}
.sr-info-item .number{ font-size:34px; color:#fff; font-weight:bold;}
.sr-info-item .unit{ font-size:14px; color:#84c3f7;}
.sr-info-item .supplement{ margin-top:-5px; font-size:14px; color:#84c3f7;}

.srItem-list{ width:960px; margin-top:30px;}
.srItem-list-left{ float:left; width:624px; border-right:1px dashed #b5b5b5;}
.srItem-list-right{ float:right; width:335px;}
.sr-item{}
.sr-item .title{ padding:0 0 0 23px; margin-bottom:15px;}
.sr-item .title h3{ font-size:20px; font-weight:500;}
.sr-item-watch{ height:290px; border-bottom:1px dashed #b5b5b5;}
.sr-item-time{ height:205px; border-bottom:1px dashed #b5b5b5;}
.sr-item-time .love-current{ margin:-5px 0 0 20px; font-size:34px; color:#ef8413; font-family:Arial; font-weight:bold; font-style:italic;}
.sr-item-time .time-con{ height:82px; padding-left:105px; margin:10px 0 0 20px; background:url(../../images/uCenter/sr-timelove-bg.png) no-repeat left;}
.sr-item-time .time-txt{ padding:5px 0 10px 0; font-size:14px;}
.sr-item-time p{ font-family:"宋体";}
.sr-item-time p em{ color:#fca901; font-weight:bold; font-family:Arial;}
.sr-item-energy{ height:245px;}
.sr-energy{ width:585px; height:190px; background:url(../../images/uCenter/sr-energybg.png) no-repeat; margin:20px 0 0 20px; text-align:center; position:relative;}
.sr-energy .name{ display:block; font-size:24px; color:#fff; font-family:Microsoft Yahei;}
.sr-energy .txt{ font-size:16px; font-family:Microsoft Yahei;}
.sr-energy .energy1{ width:135px; height:135px; position:absolute; top:35px; left:233px;}
.sr-energy .energy2{ width:107px; height:107px; position:absolute; top:26px; left:469px;}
.sr-energy .energy3{ width:95px; height:95px; position:absolute; top:27px; left:56px;}
.sr-energy .energy1 .name{ margin-top:40px;}
.sr-energy .energy2 .name{ margin-top:20px;}
.sr-energy .energy3 .name{ margin-top:20px;}
.sr-energy .energy1 .txt{ color:#84c3f7;}
.sr-energy .energy2 .txt{ color:#ffdcb6;}
.sr-energy .energy3 .txt{ color:#f4fdae;}
.sr-item-user{ height:330px;}
.sr-item-user .sr-user-face{ width:180px; height:180px; overflow:hidden; padding:5px; margin:0 auto; border:1px solid #d9ecf7; border-radius:90px;}
.sr-item-user .sr-user-face img{ border-radius:90px;}
.sr-user-bar{ margin-top:15px; text-align:center;}
.sr-user-bar .addAtten{ display:inline-block; width:105px; height:30px; line-height:30px; font-size:18px; box-shadow:0 3px 3px #ebebeb;}
.sr-user-bar .icon-addAtten{ font-size:30px;}
.sr-user-bar .readyAtten{ width:105px; height:30px; line-height:30px; overflow:hidden; margin:7px auto 0; text-align:center; font-size:18px; border:1px solid #d9d9d9; border-radius:3px; background-color:#f5f5f5; background-image:-webkit-linear-gradient(top,#fafafa,#f1f1f1); background-image:-moz-linear-gradient(top,#fafafa,#f1f1f1); background-image:-ms-linear-gradient(top,#fafafa,#f1f1f1); background-image:-o-linear-gradient(top,#fafafa,#f1f1f1); background-image:linear-gradient(top,#fafafa,#f1f1f1);}
.sr-user-bar .icon-ok{ display:inline-block; width:13px; height:10px; margin-right:5px; background:url(../../images/uCenter/sr-icon1.png) no-repeat; overflow:hidden; box-shadow:0 3px 3px #ebebeb;}
.sr-item-energy .title,.sr-item-user .title{ padding-top:20px;}
.sr-watch-chart{ margin:0 0 0 30px;}

.sr-result{ width:914px; height:250px; margin:30px auto 0; background:#f1f8fd; border:1px solid #d1e4ed; position:relative; border-radius:5px;
	-moz-box-shadow:0 3px 3px #d1e4ed inset;               /* For Firefox3.6+ */
	-webkit-box-shadow:0 3px 3px #d1e4ed inset;            /* For Chrome5+, Safari5+ */
	box-shadow:0 3px 3px #d1e4ed inset;                    /* For Latest Opera */}
.sr-result .title{ padding:20px 0 10px 20px;}
.sr-result h3{ font-size:20px; font-weight:500;}
.sr-comment{ width:245px; height:190px; float:left; display:inline; margin:0 0 0 60px; text-indent:-9999px;}
.sr-commen01{ background:url(../../images/uCenter/sr-comment01.png) no-repeat;}
.sr-commen02{ background:url(../../images/uCenter/sr-comment02.png) no-repeat;}
.sr-commen03{ background:url(../../images/uCenter/sr-comment03.png) no-repeat;}
.sr-commen04{ background:url(../../images/uCenter/sr-comment04.png) no-repeat;}
.sr-commen05{ background:url(../../images/uCenter/sr-comment05.png) no-repeat;}
.sr-commen06{ background:url(../../images/uCenter/sr-comment06.png) no-repeat;}
.sr-commen07{ background:url(../../images/uCenter/sr-comment07.png) no-repeat;}
.sr-result-list{ float:left; display:inline; width:520px; margin:0 0 0 40px;}
.sr-result-list li{ height:36px; margin-top:15px; background:url(../../images/uCenter/sr-result-bg.png) no-repeat; position:relative;}
.sr-result-list h4{ font-size:16px; font-weight:500; position:absolute; left:38px; top:-12px;}
.sr-result-list li .icon{ float:left; display:inline; width:29px; height:29px; margin:3px 0 0 3px;}
.sr-result-studyIcon{ background:url(../../images/uCenter/sr-result-icon1.png) no-repeat;}
.sr-result-practiceIcon{ background:url(../../images/uCenter/sr-result-icon2.png) no-repeat;}
.sr-result-QAIcon{ background:url(../../images/uCenter/sr-result-icon3.png) no-repeat;}
.sr-result-progressbar{ float:left; width:325px; height:7px; overflow:hidden; margin:13px 0 0 5px; background:#e4e4e4; border-radius:3px;}
.sr-result-progressbar-value{ height:7px; background:#2772d8; border-radius:3px;}
.sr-result-list li p{ float:left; display:inline; line-height:30px; margin:0 0 0 35px;}
.sr-result-list li p em{ padding:0 6px; font-family:Arial; font-size:20px; color:#ff8e1f;}

.sr-share{ position:absolute; top:20px; right:10px;}
.sr-share .share-txt{ vertical-align:middle; font-size:14px; font-weight:bold; font-family:"宋体";}
.sr-share .bshare-custom a{ height:19px; background:url(../../images/uCenter/sr-share-ico.png) no-repeat;}
.sr-share .bshare-custom .share-classmte{ display:inline-block; background-position:0 0;}
.sr-share .bshare-custom .bshare-sinaminiblog{ display:inline-block; background-position:0 -19px;}
.sr-share .bshare-custom .bshare-qqmb{ display:inline-block; background-position:0 -38px;}
.sr-share .bshare-custom .bshare-renren{ display:inline-block; background-position:0 -57px;}
.sr-share .bshare-custom .bshare-douban{ display:inline-block; background-position:0 -76px;}
.sr-share .bshare-custom #bshare-more-icon,.sr-share .bshare-custom .bshare-more-icon{ padding-left:0px; background:none; font-size:12px; color:#0088cc;}
/* sr-not */
.sr-week-not{ width:100%; height:428px; margin-top:10px; background:url(../../images/uCenter/sr-week-notbg.png) no-repeat center center; text-indent:-9999px;}