.contenter{ width:862px; padding:20px 59px 50px;}

.treaty-con{ width:780px; padding:40px; line-height:24px; font-family:Microsoft Yahei; border:1px solid #e9e9e9; position:relative;
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none;  /*webkit浏览器*/
	-ms-user-select: none;   /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;}
.treaty-con h1{ margin-bottom:30px; text-align:center; font-weight:500; font-size:22px;}
.treaty-con h2{ margin-top:30px; font-size: 14px;}
.treaty-con p{ text-indent:2em; line-height:24px; word-wrap: break-word;}
.treaty-con .cachet{ position:absolute; bottom:30px; left:100px;}

table{ text-align:left;}
.table-p{ margin-left:2em; border-collapse:collapse; width: 80%;}
.table-p th,.table-p td{ padding:5px 10px; border:1px solid #ccc;}
.table-f{ margin:65px 0 0 2em;}
.table-f th{ padding:5px 0;}
.table-f td{ padding:5px 0;}

.table-n{}
.table-n th{ padding:5px 0; border: none;}
.table-n td{ padding:5px 0; border: none;}
.treaty-bar{ width:100%; height:18px; overflow:hidden; background:url(../../images/uCenter/treaty-bar.png) no-repeat center}
.treaty-text{padding: 0 10px; background: #f1f1f1; word-wrap: break-word;}
.treay-bor01{border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px;}
